.blueBg {
  background-color: var(--auth-pages);
}
.fixedHeight {
  height: 95vh;
}
.logo {
  width: 50%;
  height: 30px;

  img {
      object-fit: contain;
  }
}
@media only screen and (min-height: 821px) {
  .fixedHeight {
    height: 820px;
    min-height: 820px;
  }
}
