<div class="overflow-hidden">
    <div class="blueBg vh-100 d-flex align-items-center">
        <div class="cstmContainer">
            <div class="row">
                <div [ngClass]="[isSidebarCollapsed ? ( width <= 1024 ? 'col-2' : 'col-1') : 'col-2']" class="transition"
                    #sidebar>
                    <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed"
                        (isSidebarCollapsedEvent)="isSidebarCollapsed = $event"></app-sidebar>
                </div>
                <div [ngClass]="[isSidebarCollapsed ? ( width <= 1024 ? 'col-10' : 'col-11') : 'col-10']"
                    class="transition">
                    <div class="w-100 bg-white rounded-3 overflow-y-auto py-3" [style.height.px]="rightHieght">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>