<div class="blueBg py-3">
    <div class="cstmContainer">
        <div class="row">
            <div [ngClass]="[isSidebarCollapsed ? 'col-lg-1' : 'col-lg-3']" class="transition">
                <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed" (isSidebarCollapsedEvent)="isSidebarCollapsed = $event"></app-sidebar>
            </div>
            <div [ngClass]="[isSidebarCollapsed ? 'col-lg-11' : 'col-lg-9']" class="transition h-100">
                <div class="w-100 bg-white rounded-3 mt-3 h-100">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="col-lg-12">
                <p class="text-center">©2024 Right Behind Me. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>