<div class="container py-3">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="text-dark bold popup-head mb-3">Inquiry Detail</h1>
    </div>
    <div class="col-lg-6">
      <p>First Name: {{ active?.firstName }}</p>
    </div>
    <div class="col-lg-6">
      <p>Last Name: {{ active?.lastName }}</p>
    </div>
    <div class="col-lg-6">
      <p>Email: {{ active?.email }}</p>
    </div>
    <div class="col-lg-6">
      <p>Contact No.: {{ active?.contactNo }}</p>
    </div>
    <div class="col-lg-6">
      <p>Property Type: {{ active?.propertyType }}</p>
    </div>
    <div class="col-lg-6">
      <p>Units: {{ active?.units }}</p>
    </div>
    <div class="col-lg-12">
      <p>Address: {{ active?.address }}</p>
    </div>
    @if(active?.message){
    <div class="col-lg-12">
      <p>Message: {{ active?.message }}</p>
    </div>
    } @if(active?.latitude && active?.longitude){
    <div class="col-lg-12">
      <app-map
        [center]="{ lat: active?.latitude, lng: active?.longitude }"
        [markerPositions]="[{ lat: active?.latitude, lng: active?.longitude }]"
      ></app-map>
    </div>
    }
    <div class="col-lg-12 mt-3 d-flex align-items-center justify-content-between flex-wrap">
      <button class="btnPrimary py-1" (click)="route(active?.contactNo,'phone')">
        <fa-icon [icon]="faPhone"></fa-icon>
      </button>
      <button class="btnPrimary py-1" (click)="route(active?.email,'email')">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </button>
      <button class="btnPrimary py-1" (click)="dialogRef.close()">Close</button>
    </div>
  </div>
</div>