p {
  font-size: 14px;
  font-family: "reg";
  color: rgb(170, 169, 169);
}
.main {
  padding-left: 35px;
  padding-right: 35px;
  align-content: center;
}
@media only screen and (max-width: 1024px) {
  .main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
