:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --head-black: rgba(49, 49, 49, 1);
  --red: rgba(255, 50, 44, 1);
  --sec-light: rgba(230, 242, 255, 1);
  --royal-blue: rgba(1, 96, 201, 1);
  --dark-blue: rgba(0, 15, 40, 1);
  --hr: rgba(205, 185, 185, 1);
  --blog-sec: rgba(234, 234, 234, 1);
  --carousel-add: rgba(112, 112, 112, 1);
  --add-prop-bg: rgba(247, 251, 255, 1);
  --property-text: rgba(113, 113, 113, 1);
  --checkbox: rgba(196, 196, 196, 1);
}