@import "@ng-select/ng-select/themes/material.theme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.lg-11 {
  width: 91.6%;
}
.lg-3,
.md-3,
.sm-3 {
  width: 24.9%;
}

.lg-2,
.md-2,
.sm-2 {
  width: 16.6%;
}

.lg-1,
.md-1,
.sm-1 {
  width: 8.3%;
}

a {
  cursor: pointer;
}

.ng-select .ng-select-container:after {
  border-bottom: 0;
}
.ngx-pagination .current {
  background: #ff0a0a !important;
}
th,
td {
  align-content: center;
  height: 51px;
}
.bodyLoader {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  position: relative;
  &::before {
    content: "";
    backdrop-filter: blur(2px) !important;
    background-color: #6c6c6cc2 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}
.backdropFront.bodyLoader::before {
  z-index: 5;
}
@media only screen and (min-width: 1024px) {
  pagination-controls {
    height: 30px !important;
  }
}
@media only screen and (max-width: 1024px) {
  pagination-controls {
    margin-top: 1rem;
  }
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 90vw !important;
  }
  .cdk-global-overlay-wrapper {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 540px) {
  td.bigCol,
  th.bigCol {
    min-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ngx-pagination li {
    font-size: 12px;
  }
}
