.carosuelBtn {
    background: transparent;
    border: 1px solid #3b3b3b;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 1rem;
    color: white;
}

.card-img {
    object-fit: cover;
}

.card-tag {
    background-color: var(--red);
    padding: 0vw 1.2vw;
    text-transform: capitalize;
}

p {
    font-size: 12px;
}

@media only screen and (max-width:1024px) {
    p {
        font-size: 10px;
    }
}