<div class="dCenter justify-content-between position-relative">
  <h2 class="wow fadeInDown my-3 text-light text-start">Right Behind Me Community</h2>
  <hr class="w-50 wow fadeInDown my-3">
  <div class="dCenter gap-2 my-3">
    <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.prev()">
      <fa-icon class="dCenter" [icon]="faChevronCircleLeft"></fa-icon>
    </button>
    <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.next()">
      <fa-icon class="dCenter" [icon]="faChevronCircleRight"></fa-icon>
    </button>
  </div>
</div>
<owl-carousel-o [options]="customOptions" #owlCar>
  @for (card of cards; track card) {
  <ng-container>
    <ng-template carouselSlide>
      <app-community-card></app-community-card>
    </ng-template>
  </ng-container>
  }
  <ng-container>
    <ng-template carouselSlide>
      <div class="card w-100 rounded-2 dCenter" [style.height.px]="getHeight()">
        <a routerLink="/communities" class="dCenter flex-column">
          <fa-icon [icon]="faChevronCircleRight2" size="2x"></fa-icon>
          <button class="bg-transparent border-0">View All</button>
        </a>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>