<div class="dCenter justify-content-between position-relative">
  <h2 class="wow fadeInDown my-3 text-light text-start">Right Behind Me Community</h2>
  <hr class="w-50 wow fadeInDown my-3">
  <div class="dCenter gap-2 my-3">
    <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.prev()">
      <fa-icon class="dCenter" [icon]="faChevronCircleLeft"></fa-icon>
    </button>
    <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.next()">
      <fa-icon class="dCenter" [icon]="faChevronCircleRight"></fa-icon>
    </button>
  </div>
</div>
<owl-carousel-o [options]="customOptions" #owlCar>
  @for (card of cards; track card) {
  <ng-template carouselSlide>
    <app-community-card [item]="card" [loader]="loader"></app-community-card>
  </ng-template>
  }
</owl-carousel-o>
<div class="rental-btn py-3 wow fadeInDown dCenter w-100">
  <button class="btnWhiteNBlue" routerLink="/communities">View All</button>
</div>