:host ::ng-deep .btns .rent-btn {
    font-size: 0.8vw;
    letter-spacing: -0.03vw;
    font-family: 'bold';
    padding: 1.3vw 2vw;
    background-color: var(--white);
    border-radius: 3vw;
    border: 0.1vw solid rgba(217, 217, 217, 1);
}

:host ::ng-deep .sell-btn {
    padding: 1.3vw 2.2vw;
    font-size: 0.8vw;
    letter-spacing: -0.03vw;
    font-family: 'bold';
    background-color: var(--white);
    border-radius: 3vw;
    border: 0.1vw solid rgba(217, 217, 217, 1);
}

.map {
    width: 100%;
}

.map img {
    width: 100%;
    height: 9.3vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

button {
    transition: 0.5s all ease-in-out;
}

button.Active {
    background: #b8daff !important;
}

.community-btn {
    background-color: #0160c9;
    border-radius: 100px;
    color: #fff;
    padding: 0.8vw 2.5vw;
    border: 1px solid #0160c9;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        border: 1px solid #0160c9;
        background-color: #fff;
        color: #0160c9 !important;
    }

    &:disabled {
        background-color: #61a1fe;
        border: 1px solid #61a1fe;
        color: #fff;
        cursor: not-allowed;
    }
}

.left {
    width: 50%;
    align-content: center;
}

.left video {
    width: 100%;
    height: 100%;
    border: none;
}

.right {
    width: 45%;
}

.main{
    padding-left: 35px;
    padding-right: 35px;
    height: 98%;
}

.right,
.left{
    align-content: center;
}

.close-popup {
    width: 40px;
    float: right;
  }
  
  .close-popup button {
    background-color: red;
    border: 0;
    border-radius: 0.3vw;
    width: 100%;
    height: 30px;
  }
  
  .close-popup button .mat-icon {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    align-content: center;
    margin-top: 2px;
  }