<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold mb-3">Analytics</h6>
        </div>
        <div class="col-lg-12">
            <div class="border border-1 border-dark rounded-3 p-3 mb-3">
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>tty</mat-icon>
                        <p class="smallFont mb-0">Leads</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>call</mat-icon>
                        <p class="smallFont mb-0">Calls</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>mail</mat-icon>
                        <p class="smallFont mb-0">Email</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <hr class="my-2">
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>visibilityy</mat-icon>
                        <p class="smallFont mb-0">View</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>ads_click</mat-icon>
                        <p class="smallFont mb-0">Click</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>web_traffic</mat-icon>
                        <p class="smallFont mb-0">CTR (Click Through
                            Rate)</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
            </div>
        </div>
    </div>
</div>