@if(loader || !card){
  <div class="property-card-wrapper">
    <div class="property-card">
      <div class="card-img skeleton">
      </div>
      <div class="card-content">
        <h3 class="skeleton title"></h3>
        <p class="skeleton description"></p>
      </div>
    </div>
  </div>
}
@else{
  <div class="property-card-wrapper" [ngClass]="[type == 'carousel' ? 'carousel' : 'component']">
    <div class="property-card" [ngStyle]="{background:background}">
      <div class="card-img">
        <img [src]="card?.imgSrc || 'https://homes.madeeasy.app/img/no-propertyfound.png'" [class.NoImageFound]="!card?.imgSrc" alt="Card Image" class="card-img" />
        @if(showBadge && card?.badge){
        <div class="badge">
          <p>{{ card?.badge }}</p>
        </div>
        }
      </div>
      <div class="card-content">
        <h3>{{ card?.title }}</h3>
        <p>{{ card?.description }}</p>
        @if(type == 'carousel'){
          <div class="details">
            <div class="display">
              <div class="home-detail bedroom display">
                <img src="../../assets/img/bed.png" alt="" class="home-img">
                <div class="detail-font">{{card?.noOfBed}}</div>
              </div>
              <div class="home-detail bath display">
                <img src="../../assets/img/bath.png" alt="" class="home-img">
                <div class="detail-font">{{card?.noOfBath}}</div>
              </div>
              <div class="home-detail  display">
                <img src="../../assets/img/sq.ft.png" alt="" class="home-img">
                <div class="detail-font sq.ft">{{card?.area}}</div>
              </div>
            </div>
          </div>
        }
        @else {
          <div class="card-details display">
            <div class="detail-sec bed display">
              <img
                src="../../assets/img/bed-white.png"
                alt=""
                class="details-img"
              />
              <div class="detail-text">{{ card?.noOfBed }}</div>
            </div>
            <div class="detail-sec display">
              <img
                src="../../assets/img/bath-white.png"
                alt=""
                class="details-img"
              />
              <div class="detail-text">{{ card?.noOfBath }}</div>
            </div>
            <div class="detail-sec bath display">
              <img
                src="../../assets/img/sq.ft-white.png"
                alt=""
                class="details-img"
              />
              <div class="detail-text">{{ card?.area }} SqFt</div>
            </div>
          </div>
        }
        <div class="card-bottom display content-between contact">
          <div class="price">{{ card?.price | currency:'USD' }}</div>
          <hr />
          <button mat-raised-button>Contact Agent</button>
        </div>
      </div>
    </div>
  </div>
}

