<div class="position-relative">
  <!-- @if(!communityMarkers?.length){ -->
  <div id="drawpoly">
    <button
      title="Click to draw on map"
      class="drawButton customBtn"
      id="drawpoly"
      [class.d-none]="drawing || community || disabled"
    >
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </div>
  <button
    title="Click to clear drawn shapes on map"
    class="drawButton customBtn trash"
    id="clearButton"
    [class.d-none]="!drawing || community || disabled"
  >
    <fa-icon [icon]="faTrash"></fa-icon>
  </button>
  <!-- } -->
  <div id="map_canvas" [style.height.px]="height || 200"></div>
</div>
