h1 {
    font-size: 2.6vw;
    font-family: 'bold';
    color: var(--white);
}

p {
    font-size: 1.05vw;
    font-family: "reg";
    color: var(--white);
    margin-top: 1.15vw;
    padding-right: 2vw;
    letter-spacing: 0.052vw;
    line-height: 1.6vw;
}

.cover {
    background-color: var(--sec-light);
    padding: 1.3vw;
}

.left-side {
    width: 36.8%;
    background-color: var(--auth-pages);
    padding: 2.8vw;
    border-radius: 1.5vw;
}

.right-side {
    width: 61.8%;
}

.logo {
    width: 14.8vw;
}

.logo img {
    width: 100%;
}

.content {
    margin-top: 12.1vw;
}

:host ::ng-deep .mat-mdc-form-field {
    width: 30.2vw;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
    height: 3.2vw;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border: 0.01vw solid var(--royal-blue);
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 0.9vw;
    font-family: 'reg';
    color: rgba(192, 192, 192, 1);
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
    display: none;
}

.content form {
    margin-top: 0.75vw;
}

.content form .input-padding {
    margin-bottom: 2vw;
}

:host ::ng-deep .mdc-form-field>label {
    color: var(--login-text);
    margin-left: -1.4vw;
    font-size: 0.88vw;
    font-family: 'reg';
}

.check-pass .mat-checkbox {
    color: var(--login-text);
}

:host ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    background-color: rgba(196, 196, 196, 1);
    border: 0;
    height: 0.9vw;
    width: 0.9vw;
    margin-left: -0.6vw;
}

.check-pass a {
    font-size: 0.88vw;
    font-family: 'reg';
    color: var(--login-text);
    cursor: pointer;
    letter-spacing: 0.02vw;
}

.check-pass {
    width: 100%;
    align-items: center;
}

.login-btn {
    margin-top: 1.6vw;
    width: 100%;
}

.login-btn button {
    font-size: 1.05vw;
    font-family: 'bold';
    color: var(--white);
    background-color: var(--royal-blue);
    padding: 1.9vw 0vw;
    width: 100%;
    border-radius: 3vw;
    letter-spacing: -0.02vw;
}

.signup-btn {
    margin-top: 2.7vw;
    margin-bottom: 2.2vw;
    font-size: 0.87vw;
    color: var(--white);
    font-family: 'reg';
    text-align: center;
    letter-spacing: 0.035vw;
}

.signup-btn a{
    color: var(--royal-blue);
    font-family: 'med';
}

.right-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5vw;
}