<div [formGroup]="form">
  <mat-form-field class="input-padding">
    <mat-label>{{label}}</mat-label>
    <input [type]="type" (input)="write($event)" matInput [formControlName]="control" [placeholder]="placeholder"/>
  </mat-form-field>
  @if (error && errorName && (value != '' || !value)) {
  <small>
    {{
        errorName == "required"
          ? label +
            "
      Required"
          : errorName == "minlength"
            ? "Minimum " +
              form.controls[control]?.errors?.[errorName]?.requiredLength +
              " characters required"
            : returnFirstLetterCapital(
                form.controls[control].status?.toLowerCase()
              ) +
              " " +
              label
    }}
  </small>
  }
</div>
