h1 {
    font-family: "bold";
    font-size: 4.15vw;
    color: var(--black);
}

.container-site {
    padding: 0vw 3.55vw;
}

.content {
    padding-top: 8.25vw;
}

.content h1 {
    text-align: center;
}

.page-links {
    width: 13.2%;
    margin: auto;
    text-align: center;
    margin-top: 0.65vw;
    padding: 0vw 1.5vw;
}

.page-links a {
    font-family: "reg";
    font-size: 1.1vw;
    color: var(--head-black);
    text-align: center;
    letter-spacing: 0.03vw;
    transition: font-family 0.6s ease;
}

.page-links a:hover {
    font-family: 'med';
}

.slash {
    padding: 0vw 0.25vw;
    align-content: center;
}

.sec-1 {
    background-image: url(../../../assets/img/home-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.home-tree {
    margin-top: -11.85%;
    width: 100%;
}

.left-tree img,
.right-tree img {
    width: 46.5%;
}

.right-tree img {
    transform: scaleX(-1);
    float: right;
}

.sec-2 {
    margin-top: 3.7vw;
    margin-bottom: 6.9vw;
}

.left-portion {
    padding-left: 0.4vw;
    border-right: 0.1vw solid var(--royal-blue);
    width: 44%;
}

.left-contact{
    margin-top: 4.4vw;
}

.icon {
    background-color: var(--sec-light);
    border-radius: 50%;
    margin-bottom: 5.1vw;
}

.icon-mail{
    background-color: var(--royal-blue);
    border-radius: 50%;
    margin-bottom: 5.1vw;
}

.icon .call{
    color: var(--royal-blue);
}

.icon-mail .mail{
    color: var(--white);
}

.icon .mat-icon,
.icon-mail .mat-icon{
    font-size: 2.5vw;
    width: 4vw;
    height: 3.6vw;
    margin-top: 1.3vw;
    margin-left: 1.3vw;
}

.icon-text{
    margin-left: 3vw;
}

.icon-text h2{
    font-size: 2.1vw;
    font-family: 'bold';
    color: var(--black);
}

.light-text-num{
    margin-top: 0.2vw;
    font-size: 2.25vw;
    font-family: "reg";
    color: var(--black);
    letter-spacing: 0.06vw;
}

.light-text{
    margin-top: 0.2vw;
    font-size: 2.1vw;
    font-family: "reg";
    color: var(--black);
    letter-spacing: 0.06vw;
}

.icon-text-location{
    width: 60%;
}

.right-portion{
    width: 56%;
    padding: 0vw 0vw 0vw 6.6vw;
}

.right-portion p{
    margin-top: 0.8vw;
    font-size: 1.1vw;
    font-family: 'reg';
    line-height: 1.8vw;
    letter-spacing: 0.028vw;
    padding-right: 15vw;
}

.right-portion form{
    margin-top: 0.5vw;
}

:host ::ng-deep .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    width: 45vw !important;
    background: transparent;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border:0.01vw solid var(--royal-blue)!important;
}

:host ::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
    color: rgba(122, 122, 122, 1);
    font-size: 1.3vw;
    margin-top: 0.5vw;
    padding: 0vw 0.7vw 0vw 1.7vw;
    box-sizing: content-box;
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 0.85vw;
    font-family: "med";
    color: rgba(122, 122, 122, 1);
    cursor: inherit;
}

:host ::ng-deep .mat-mdc-form-field-flex {
    padding: 1vw 0vw;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    display: none;
}

.input-padding{
   margin-bottom: 1vw;
}

.input-padding .text-icon{
    margin-top: -1vw;
    color: rgba(122, 122, 122, 1);
    font-size: 1.3vw;
    padding: 0vw 0.7vw 0vw 1.7vw;
}

form .text-padding{
    margin-top: 1.7vw;
}

form .contact-form{
    font-size: 1vw;
    font-family: "reg";
    background-color: var(--royal-blue);
    color: var(--white);
    border-radius: 3vw;
    padding: 1.75vw 4.3vw;
    margin-top: 1.9vw;
}