<section>
    <div class="lg-12">
        <div class="plus-img">
            <img src="../../assets/img/popup-plus.png" alt="">
        </div>
        <div class="content">
            <h1>Add New Property</h1>
            <div class="btns display content-between">
                <button mat-stroked-button class="rent-btn">Rent</button>
                <button mat-stroked-button class="sell-btn" (click)="openSellPopup()">Sell</button>
            </div>

            <form action="">

                <div class="display content-between">
                    <mat-form-field class="mat-options">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="mat-options">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div class="display content-between">
                    <mat-form-field class="mat-options">
                        <mat-label>Property Type</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-options">
                        <mat-label>Unit (If Applicable)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <mat-form-field class="mat-select">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-select">
                    <mat-label>Address</mat-label>
                    <input matInput>
                </mat-form-field>

                <div class="map">
                    <img src="../../assets/img/map.png" alt="">
                </div>

                <div class="add-property-btn">
                    <button mat-flat-button class="property-btn" routerLink="/rent-add-property" (click)="navigateAndClose()">Add Property</button>
                </div>

            </form>
        </div>
    </div>
</section>