<section>

    <div class="listing-filters display content-between">

        <mat-form-field class="listing-id">
            <mat-label>Enter Listing ID</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="city">
            <mat-label>Select City</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="location">
            <mat-label>Location</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="property">
            <mat-label>Select Property Type</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="filter">
            <mat-label>Filters</mat-label>
            <mat-select>
                <mat-option>option a</mat-option>
                <mat-option>option b</mat-option>
                <mat-option>option c</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button>
                <mat-icon>tune</mat-icon>
            </button>
        </mat-form-field>

    </div>

    <div class="listing-tabs display content-between" *ngFor="let tabs of listing">
        <button mat-stroked-button>Active({{tabs.active}})</button>
        <button mat-stroked-button>Pending({{tabs.pending}})</button>
        <button mat-stroked-button>Rejected({{tabs.rejected}})</button>
        <button mat-stroked-button>Expired({{tabs.expired}})</button>
        <button mat-stroked-button>Deleted({{tabs.deleted}})</button>
        <button mat-stroked-button>Downgraded({{tabs.Downgraded}})</button>
        <button mat-stroked-button>inactive({{tabs.inactive}})</button>
    </div>

    <div class="display main content-between">

        <div class="left display content-between" *ngFor="let card of listingCard">
            <div class="listing-card">
                <img [src]="card.image" alt="">
            </div>
            <div class="listing-card-content">

                <div class="display content-between center">

                    <div>
                        <div class="display lcc">
                            <div class="id">{{card.id}}</div>
                            <div class="active-tag">{{card.status}}</div>
                        </div>
                        <div class="card-title">{{card.title}}</div>
                    </div>
                    <div class="edit-btn">
                        <button mat-stroked-button [routerLink]="card.edit">Edit</button>
                    </div>

                </div>

                <div class="address">{{card.address}}</div>

                <div class="display icon-sec center">
                    <div class="icons display content-between center">
                        <div class="icon-div">
                            <mat-icon>bed</mat-icon>
                        </div>
                        <div class="icon-text">{{card.bed}}</div>
                    </div>
                    <hr>
                    <div class="icons display content-between center">
                        <div class="icon-div">
                            <mat-icon>bathtub</mat-icon>
                        </div>
                        <div class="icon-text">{{card.bath}}</div>
                    </div>
                    <hr>
                    <div class="icons display content-between center">
                        <div class="icon-div">
                            <mat-icon>square_foot</mat-icon>
                        </div>
                        <div class="icon-text">{{card.sqFt}} SqFt</div>
                    </div>
                    <div class="price">$ {{card.price}}</div>
                </div>

                <div class="display content-between center icon-sec-2">
                    <div class="text">{{card.impression}} Impressions</div>
                    <div class="text">{{card.view}} Views</div>
                    <div class="text">{{card.call}} Calls</div>
                    <div class="text">{{card.email}} Emails</div>
                </div>

                <div class="display  center time-div">
                    <div class="text">Created: {{card.created}} - {{card.createdTime}}</div>
                    <div class="text">Expire: {{card.expire}} - {{card.expireTime}}</div>
                </div>

            </div>
        </div>

    </div>

</section>