.cssload-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff00;
  z-index: 10000;
  cursor: wait;
}

@keyframes ldio-x2uulkbinbj {
  0% {
    top: 100.44999999999999px;
    left: 100.44999999999999px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 27.674999999999997px;
    left: 27.674999999999997px;
    width: 145.54999999999998px;
    height: 145.54999999999998px;
    opacity: 0;
  }
}.ldio-x2uulkbinbj div {
  position: absolute;
  border-width: 2.05px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-x2uulkbinbj 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-x2uulkbinbj div:nth-child(1) {
  border-color: #f3392c;
  animation-delay: 0s;
}
.ldio-x2uulkbinbj div:nth-child(2) {
  border-color: #034cae;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-nq4q5u6dq7r {
  width: 205px;
  height: 205px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div { box-sizing: content-box; }