<div class="dCenter justify-content-between position-relative">
    @if(heading){
    <h2 class="wow fadeInDown my-3">{{heading}}</h2>
    <hr class="w-50 wow fadeInDown my-3">
    }
    <div class="dCenter gap-2 my-3">
      <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.prev()">
        <fa-icon class="dCenter" [icon]="faChevronCircleLeft"></fa-icon>
      </button>
      <button class="carosuelBtn dCenter wow fadeInDown" (click)="owlCar.next()">
        <fa-icon class="dCenter" [icon]="faChevronCircleRight"></fa-icon>
      </button>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging" #owlCar>
    @for (card of cards; track card) {
    <ng-container>
      <ng-template carouselSlide [id]="card.id">
        <app-property-card [card]="card" [showBadge]="true" [loader]="false" type="carousel"
          [background]="background"></app-property-card>
      </ng-template>
    </ng-container>
    }
  </owl-carousel-o>