<section>
    <div class="sec-bg">
        <div class="content wow fadeInDown">
            <h1>RightBehind Market Place</h1>
            <p>Search Off-market Properties to Find the Ideal Investment Opportunities for You.</p>
            <div class="search-bar">
                <app-offmarket-search></app-offmarket-search>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-between container-site main">
        <div class="div-width">
            <div class="left-content wow fadeInDown">
                <h1 class="wow fadeInDown">heading no 1</h1>
                <p class="wow fadeInDown">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error reprehenderit
                    dicta voluptatibus
                    corporis, incidunt delectus earum molestiae quisquam ratione optio quia labore. Et quo sit
                    voluptatum. Ullam rerum illum deleniti.Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Error reprehenderit dicta voluptatibus corporis, incidunt delectus earum molestiae quisquam ratione
                    optio quia labore. Et quo sit voluptatum. Ullam rerum illum deleniti.</p>
            </div>
        </div>
        <div class="div-width">
            <div class="right wow fadeInDown">
                <img src="../../../assets/img/crop-market.png" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-between container-site main">
        <div class="div-width">
            <div class="listing wow fadeInDown">
                <img src="../../../assets/img/listing-dashboard.jpeg" alt="">
            </div>
        </div>
        <div class="div-width">
            <div class="left-content wow fadeInDown">
                <h1>Find Off-Market Properties</h1>
                <div class="offMarket-list">
                    <li class="d-flex" *ngFor="let item of findMarketList">
                        <span><mat-icon>check</mat-icon>{{item}}</span>
                    </li>
                </div>
                <button (click)="scrollToCarousel()">Explore</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-between container-site main-property">
        <div class="div-width">
            <div class="left-content wow fadeInDown property-content">
                <h1>Connect With Property Owners</h1>
                <div class="offMarket-list">
                    <li class="d-flex" *ngFor="let item of connectOwnerList">
                        <span><mat-icon>check</mat-icon>{{item}}</span>
                    </li>
                </div>
                <button (click)="openLoginPopup()">UPGRADE NOW</button>
            </div>
        </div>
        <div class="div-width">
            <div class="prop-owner wow fadeInDown">
                <img src="../../../assets/img/property-owner.png" alt="">
            </div>
        </div>
    </div>
</section>

<section #carouselSection>
    <div class="carousel-main container-site">
        <app-off-market-carousel></app-off-market-carousel>
    </div>
</section>