h1 {
  font-family: 'bold';
  color: var(--black);
  text-transform: capitalize;
}

h2 {
  font-family: 'bold';
  color: var(--royal-blue);
}

h6 {
  font-family: 'bold';
  color: var(--black);
}

p {
  font-family: "reg";
  color: var(--carousel-add);
}

:host ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 100% !important;
}

.carousel-img {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.carousel-img-half,
.carousel-img-full {
  width: 49%;
  height: 150px;
  margin: 5px 0;
  object-fit: cover;
  box-shadow: 0 0 10px 0 #acacac;
  border-radius: 10px;
}

.carousel-img-full {
  width: 100%;
  height: 300px;
}

.first-box {
  background-color: var(--add-prop-bg);
  border-radius: 1vw;
}

.address {
  color: var(--carousel-add);
}


.prop-detail-img img {
  width: 40px;
  height: 40px;
}

.prop-detail-text {
  align-content: center;
  font-family: 'med';
  color: var(--carousel-add);
}

.prop-detail-img hr {
  align-self: center;
  color: var(--hr);
}

.pricing {
  align-items: center;
}

.pricing-btns {
  width: 66%;
}


.slider {
  width: 100%;
}

.heading {
  color: var(--black);
  text-transform: capitalize;
}

.heading:hover {
  background-color: #f0f0f0ae;
  color: var(--royal-blue);
  font-family: 'bold';
}

.Prop-info {
  background-color: var(--add-prop-bg);
  border-radius: 1vw;
  margin-bottom: 1vw;
}

.white-box {
  background-color: var(--white);
  width: 49.25%;
  margin-bottom: 0.5vw;
  padding-left: 1vw;
}

.transparent-box {
  background-color: transparent;
  width: 49.25%;
}


.prop-deatil {
  background-color: var(--add-prop-bg);
}

.ameneties {
  background-color: var(--add-prop-bg);
  border-radius: 1vw;
  margin-bottom: 1vw;
}

.facility-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;

}

.facility {
  color: var(--black);
  padding-left: 1vw;
}

.gallery {
  background-color: var(--add-prop-bg);
}

.gallery-img img {
  width: 100%;
}

.video {
  background-color: var(--add-prop-bg);
  width: 94%;
}

.video-player img {
  width: 100%;
}

.video-player video {
  width: 100%;
}

.video-player {
  position: relative;
}

.thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-player button .mat-icon {
  color: var(--white);
}

.map {
  background-color: var(--add-prop-bg);
  width: 100%;
  margin-bottom: 1vw;
  border-radius: 1vw;
}

.map-img {
  width: 100%;
}

.map-head {
  margin-bottom: 1vw;
}

.map-img img {
  width: 100%;
  object-fit: cover;
}

:host ::ng-deep .mat-mdc-dialog-content {
  padding: 0 !important;
  max-height: 100% !important;
}

.hide {
  display: none;
}

.popup-icon-links {
  font-size: 16px;
  color: var(--black);
}

.sm-font {
  font-size: 12px;
  font-family: 'reg';
  color: var(--black);
}

.Prop-info {
  padding: 1vw 0vw;
}

.optionBtns {
  background-color: transparent;
  color: #bbb;
  border: none;
  width: 25px;
  height: 40px;
  border-radius: 30px;
  transition: .5s all ease-in-out;
  outline: none;
  margin-right: auto;
}

.close-popup {
  padding: 7px 7px 0 0;
  margin-left: 96.75%;
}

.close-popup button {
  background-color: transparent;
  border: 0;
}

.close-popup button .mat-icon {
  font-size: 23px;
  font-weight: 700;
  color: black;
}

.special {
  background: rgba(255, 255, 255, 0.76);
  border-radius: 4px;
  padding: 5px .5rem;
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 8px;
  color: black;
  width: fit-content;
}

@media only screen and (max-width:1024px) {
  .prop-detail-img img {
    width: 25px;
    height: 25px;
  }
}