<section>
  <div class="lg-12">
    <div class="content sec-1">
      <h1>Add New Property</h1>
      <div class="page-links display">
        <a href="">Home</a>
        <div class="slash">/</div>
        <a href="">Add New Property</a>
      </div>
      <div class="home-tree display content-between">
        <div class="left-tree">
          <img src="../../assets/img/left-tree.webp" alt="">
        </div>
        <div class="right-tree">
          <img src="../../assets/img/left-tree.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lg-12 container-site">
    <div class="display content-between lower-portion">

      <div class="left-portion">
        <!-- <button mat-flat-button>Set Your Price</button> -->
        <div class="pro-details">
          <button  mat-flat-button (click)="scrollToSection('set-price')">Set Your Price</button>
          <button mat-flat-button (click)="scrollToSection('gallery')">Property Gallery</button>
          <button mat-flat-button (click)="scrollToSection('videos')">Virtual Tour url</button>
          <button mat-flat-button (click)="scrollToSection('home-facts')">Home Facts</button> <br>
          <button mat-flat-button (click)="scrollToSection('open-house')">Open House</button>
          <button mat-flat-button (click)="scrollToSection('add-info')">Additional Information</button>
          <button mat-flat-button (click)="scrollToSection('contact-info')">Contact Information</button>
          <button mat-flat-button (click)="scrollToSection('location')">Location</button>
        </div>
      </div>

      <div class="right-portion">

        <div class="prop" id="set-price">
          <h2>Set Your Price</h2>

          <form action="" class="prop-form">

            <mat-form-field class="mat-half-width">
              <mat-label>$ Price</mat-label>
              <input matInput>
            </mat-form-field>

          </form>

        </div>

        <div class="prop" id="gallery">
          <h2>Property Gallery</h2>
          <p class="right-portion-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.</p>


          <div class="upload-container">

            @if (selectedFiles.length > 0) {
              <div>
                <!-- <h3>Selected Images ({{ selectedFiles.length }}/10)</h3> -->
                <div class="image-preview-container">
                  @for (file of selectedFiles; track file; let i = $index) {
                    <div class="image-preview display">
                      <img [src]="file.url" [alt]="file.name" />
                      <button mat-fab color="warn" (click)="removeFile(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  }
                </div>
              </div>
            }

            <div class="display">

              <a class="upload-imgs" (click)="fileInput.click()">
                <span>Browns Photo</span>
              </a>
              <div class="upload-btn">
                <button mat-raised-button color="primary" (click)="fileInput.click()">
                  <mat-icon>cloud_upload</mat-icon>
                  Upload Photos
                </button>
                <input type="file" #fileInput multiple (change)="onFileSelected($event)"
                  style="display: none;">
                </div>

              </div>

              <div class="upload-mess">
                <ul class="bullets">
                  <li>The maximum photo size is 8 MB. Formats: jpeg, jpg, webp. Put the main picture first
                  </li>
                  <li>Maximum number of files upload will be 10 files.</li>
                  <li>Photo uploaded successfully</li>
                </ul>
              </div>

            </div>

          </div>

          <div class="prop" id="videos">
            <h2>Virtual Tour url</h2>
            <p class="right-portion-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.</p>

            <form action="" class="prop-form">

              <mat-form-field class="mat-options-link">
                <mat-label>Enter Video Link</mat-label>
                <input matInput>
              </mat-form-field>

            </form>

          </div>

          <div class="prop" id="home-facts">
            <h2>Home Facts</h2>

            <form action="" class="home-fact-form">

              <div class="content-between display">

                <mat-form-field class="mat-options-3">
                  <mat-label>Home type</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>No. of Bedrooms</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>No. of Bathrooms</mat-label>
                  <input matInput>
                </mat-form-field>

              </div>

              <div class="display content-between">

                <mat-form-field class="mat-options-3">
                  <mat-label>3/4 Baths</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>1/2 Baths</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>1/4 Baths</mat-label>
                  <input matInput>
                </mat-form-field>

              </div>

              <div class="content-between display">

                <mat-form-field class="mat-options-3">
                  <mat-label>Finished square feet</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>Lot Size</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>sq ft</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="display content-between">

                <mat-form-field class="mat-options">
                  <mat-label>Year Constructed</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-options">
                  <mat-label>Structutural remodel year</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="display content-between">

                <mat-form-field class="mat-options-3">
                  <mat-label>HOA dues</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>Basement sq. ft.</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>Garage sq. ft.</mat-label>
                  <input matInput>
                </mat-form-field>

              </div>

              <mat-form-field class="text-area">
                <mat-label>Describe your home.</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="9" cdkAutosizeMaxRows="15" formControlName="floorDesc"></textarea>
              </mat-form-field>

            </form>

          </div>

          <div class="prop" id="open-house">
            <h2>Open House</h2>
            <p class="right-portion-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.</p>

            <form action="" class="home-fact-form">

              <div class="display content-between">
                <mat-form-field appearance="fill" class="mat-options-3">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>Start Time</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-options-3">
                  <mat-label>End Time</mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="add-remove-btn">
                <button mat-stroked-button class="add-more-btn">
                  Remove
                </button>
                <br>
                  <button mat-stroked-button class="add-more-btn">
                    <mat-icon class="another-time-icon">add</mat-icon>
                    Add another time
                  </button>
                </div>

              </form>

            </div>

            <div class="prop prop-add" id="add-info">
              <h2>Additional Information</h2>
              <p class="right-portion-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
              purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.</p>

              <form action="" class="home-fact-form">

                <div class="display content-between">

                  <mat-form-field class="mat-options">
                    <mat-label>Related Website</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field class="mat-options">
                    <mat-label>What i love about this home</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>

                <div class="add-info-mat-para">
                  <p>say what your love about it and what makes it unique, talk about the neighbourhood and
                  lifestyle it provides.</p>
                </div>

                <div class="display content-between add-label-line">

                  <mat-form-field class="add-mat-options-3">
                    <mat-label class="add-label">Room Details</mat-label>
                    <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <hr>

                    <mat-form-field class="add-mat-options-3">
                      <mat-label class="add-label">Utility Details </mat-label>
                      <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <hr>

                      <mat-form-field class="add-mat-options-3">
                        <mat-label class="add-label">Building Details</mat-label>
                        <mat-select>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                  </form>

                </div>


                <div class="prop" id="contact-info">
                  <h2>Contact Information</h2>
                  <p class="right-portion-para">Enter your contact information so can renters reach you about your
                  listing.</p>

                  <form action="" class="contact-info-form">

                    <mat-form-field class="mat-options">
                      <mat-label>Phone Number</mat-label>
                      <input matInput>
                    </mat-form-field>

                  </form>

                </div>


                <div class="prop" id="location">
                  <h2>Property Location</h2>
                  <p class="right-portion-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
                  purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.</p>

                  <form action="" class="prop-form">

                    <mat-form-field class="example-full-width">
                      <mat-label>Address</mat-label>
                      <input matInput>
                    </mat-form-field>

                    <div class="display content-between">

                      <mat-form-field class="mat-options">
                        <mat-label>Country/State</mat-label>
                        <mat-select>
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="mat-options">
                        <mat-label>City</mat-label>
                        <input matInput>
                      </mat-form-field>

                    </div>

                    <div class="display content-between">

                      <mat-form-field class="mat-options">
                        <mat-label>Landmark</mat-label>
                        <input matInput>
                      </mat-form-field>

                      <mat-form-field class="mat-options">
                        <mat-label>Zip Code</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>

                    <div class="map-img">
                      <img src="../../assets/img/add-property-map.webp" alt="">
                    </div>

                  </form>

                </div>

                <div class="prop">

                  <div class="terms-condition">
                    <mat-checkbox>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor. adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor. adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor. adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.
                    </mat-checkbox>
                  </div>

                </div>

                <div class="submit-btns display">
                  <div class="reset">
                    <button mat-flat-button>Reset</button>
                  </div>
                  <div class="add">
                    <button mat-flat-button routerLink="/sell-preview">Add Property</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </section>