<section>
    <div class="lg-12 display cover content-between">
        <div class="left-side">
            <div class="logo">
                <img src="../../assets/img/nav-logo.webp" alt="">
            </div>
            <div class="content">
                <h1>Register</h1>
                <p>Enter your details to get started.</p>
                <form action="">

                    <mat-form-field class="input-padding">
                        <mat-label>Full Name</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="input-padding">
                        <mat-label>Email Address</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="input-padding">
                        <mat-label>Phone Number</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="input-padding">
                        <mat-label>Password</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="input-padding">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <div class="check-pass ">
                        <mat-checkbox class="example-margin">Receive latest updates Via Email</mat-checkbox>
                    </div>
                    <div class="login-btn">
                        <button mat-raised-button>Sign Up</button>
                    </div>
                    <div class="signup-btn">
                        Already have an account?<a>Login</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="right-side">
            <img src="../../assets/img/login-signup-img.webp" alt="">
        </div>
    </div>
</section>