<app-banner>
  <div class="lg-12">
    <div class="content listing">
      <h1 class="text-dark bold bigFont">My Listings</h1>
      <div class="btns display">
        <a href="">Home</a>
        <div class="slash">/</div>
        <a href="">My Listings</a>
      </div>
    </div>
  </div>
</app-banner>

<section>
  <div class="sec-2 container-site">
    <div class="selects display">
      <div class="listing-id options">
        <mat-form-field>
          <select matNativeControl required>
            <option value="volvo">Enter Listing ID</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>

      <div class="city options">
        <mat-form-field>
          <select matNativeControl required>
            <option value="volvo">Select City</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>

      <div class="location options">
        <mat-form-field>
          <select matNativeControl required>
            <option value="volvo">location</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>

      <div class="location options">
        <mat-form-field>
          <select matNativeControl required>
            <option value="volvo">Select Property Type</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>

      <div class="listing-filter">
        <button mat-button>
          <span>Filters</span>
          <mat-icon>tune</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
