.sec-2 {
  background-color: var(--sec-light);
}
.bigFont{
    font-size: 4rem;
    font-weight: bold;
}

.headingContainer {
  position: absolute;
  top: 5px;
  width: 100%;

  .headingLine {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 50%;
      background-color: #222;
    }
  }
}

.seller-carousel-portion {
  padding-top: 6vw;
}

.carousel-line {
  align-content: center;
  width: 44%;
  margin-left: 2.5vw;
}

.register-bg {
  background-color: var(--royal-blue);
  width: 100%;
  border-radius: 1vw;
  position: relative;
  margin-top: 5rem;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50%;
    background: url("../../../assets/img/house-img-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right top;
  }
}

.counter {
  width: 100%;
  justify-content: space-between;
}

.counter-num {
  font-family: "bold";
  color: var(--white);
  font-size: 20px;
}

.counter-name {
    font-size: 14px;
    color: var(--white);
    font-family: 'reg';
}

.dream-home {
  position: relative;
  align-items: center;
  min-height: 500px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url("../../../assets/img/dream-home-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }

  .btnSecondary {
    padding: 1vw 2vw;
  }
}

.dream-home.right {
  position: static;

  &::after {
    left: unset;
    right: 0;
    background: url("../../../assets/img/market-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.blueBg {
  background: var(--royal-blue);
}

.where {
  min-height: 500px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    background: var(--royal-blue);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: var(--dark-blue);
    z-index: -1;
  }

  .brainImg {
    width: 50%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }
}

.mapBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.sec-left-6 img {
  width: 100%;
  border-radius: 3.5vw;
  object-fit: cover;
}

.sec-right-6 {
  width: 46%;
  margin-top: -14.7vw;
  padding-left: 3.2vw;
}

.sec-right-6 img {
  height: 37.2%;
  width: 62.1%;
  object-fit: cover;
  border-radius: 2.1vw;
}

.sec-right-6 h2 {
  color: var(--white);
  padding-top: 1vw;
  padding-left: 1vw;
}

.sec-right-6 p {
  color: var(--white);
  text-align: start;
  padding-left: 1vw;
  padding-top: 0.4vw;
  line-height: 1.56vw;
  letter-spacing: 0.033vw;
}

.sec-6-para {
  margin-top: 0.9vw;
}

.sec-right-6 button {
  margin-top: 1.45vw;
  border: 0.1vw solid var(--white);
  color: var(--white);
  font-size: 1vw;
  font-family: "reg";
  padding: 1.8vw 3.05vw;
  border-radius: 2.5vw;
  background-color: var(--royal-blue);
  margin-left: 1vw;
}

.sec-right-6 button:hover {
  background: transparent;
}

.sec-6-head {
  width: 100%;
}

.sec-6-head h2 {
  color: var(--white);
}

.sec-6-carousel {
  margin-top: 0.65vw;
}

.sec-6-carousel-para {
  width: 38%;
}

.sec-6-carousel-para p {
  color: var(--white);
  text-align: start;
  line-height: 1.2vw;
}

.sec-6-carousel-line {
  width: 52.8%;
  padding-left: 8vw;
  align-content: center;
}

.sec-6-carousel-line hr {
  color: var(--hr);
}

.community-carousel {
  background-color: var(--dark-blue);
  margin-top: -3.5vw;
  padding-right: 3.5vw;
}

.sec-7 {
  background-color: var(--blog-sec);
  margin-top: 2rem;
  padding-top: 4vw;
}

.sec-7-content {
  width: 100%;
}

.blog-head {
  width: 30%;
}

.blog-sec-line {
  width: 60%;
  align-content: center;
}

.blog-sec-line hr {
  color: var(--hr);
}

.blog-carousel {
  margin-top: -4.2vw;
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 18px;
  }
  .counter-name {
    font-size: 8px;
  }
  .headingContainer .headingLine::after {
    content: unset;
  }
      .bigFont{
        font-size: 1.5rem;
    }
  .register-bg {
    .position-relative {
      z-index: 1;
      background: rgb(0 0 0 / 45%);
      box-shadow: 0 8px 32px 0px rgb(0 0 0 / 45%);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(4px);
      padding: 1rem;
    }

    &::after {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 821px) {
  .dream-home::after {
    content: "";
    width: 100%;
top: 10px;
    height: 360px;
    background-position: center;
  }
  .dream-home.right {
    padding-top: 2rem;
  }
  .dream-home,
  .dream-home p{
    text-align: center !important;
  }
}
@media only screen and (max-width: 540px) {
  .dream-home p {
    line-height: normal;
  }
  .dream-home::after {
    height: 320px;
  }

}
