@defer {
<app-banner>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="text-center">
          <h1 class="bigFont">Find Your Dream Home in Miami, Florida</h1>
          <p>
            Discover exquisite properties in the vibrant heart of Miami. <br />
            Start your journey to unparalleled elegance and coastal charm today.
          </p>
          <div class="search-bar">
            <app-search-bar (searchEvent)="searchProperties($event)"></app-search-bar>
          </div>
          <p class="my-3">Or</p>
          <h3>Maximize Your Property's Potential!</h3>
          <p>
            Maximize Your Property's Potential! <br />
            List with us and watch your rental income soar!
          </p>
          <div class="dCenter pb-3">
            <button class="btnDanger">Submit A Deal</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-banner>
@if(loading){
<div class="py-5">
  <app-mini-loading></app-mini-loading>
</div>
} @else{ @defer{ @if(buyCards?.length){
<div class="sec-2 pt-5">
  <div class="cstmContainer position-relative">
    <div class="headingContainer">
      <h2 class="headingLine">Hot rentals in Miami</h2>
    </div>
    @defer {
    <div class="rental-carousel">
      <app-rental-carousel background="white" [cards]="buyCards"></app-rental-carousel>
    </div>
    }
  </div>
</div>
} @if(sellCards?.length){
<div class="sec-3 mt-5">
  <div class="cstmContainer position-relative">
    <div class="headingContainer">
      <h2 class="headingLine">Sellers in Miami</h2>
    </div>
    @defer {
    <div class="rental-carousel">
      <app-rental-carousel background="white" [cards]="sellCards"></app-rental-carousel>
    </div>
    }
  </div>
</div>
} } } }
<div class="container-fluid">
  <div class="register-bg p-5 mb-5 position-relative">
    <div class="row align-items-center position-relative">
      <div class="col-lg-3">
        <h5 class="text-light mb-0">Looking to sell or rent your property?</h5>
        <h3 class="text-light my-4">Register to Post your Property for Free</h3>
        <h5 class="text-light">Post your residential/commercial property</h5>
      </div>
      <div class="col-lg-3 dCenter flex-column text-center">
        <button class="btnWhite mx-auto mb-3">
          Submit Your Property FREE
        </button>
        <div class="counter display">
          @for (counter of counters; track counter; let i = $index) {
          <div>
            <div class="counter-num">{{ counter.count }}K+</div>
            <div class="counter-name">{{ counter.name }}</div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row dream-home">
    <div class="col-lg-6 ms-auto">
      <div class="pe-4">
        <h2>Ready to make your dream home a reality?</h2>
        <p class="text-start">
          Submit an inquiry for a hassle-free home loan process. Let us guide you
          through every step toward securing the keys to your new home.
        </p>
        <button class="btnSecondary">Submit an inquiry</button>
      </div>
    </div>
  </div>
</div>
@if(scrollPosition > 120){
<div class="blueBg position-relative">
  <div class="cstmContainer">
    <div class="row dream-home right">
      <div class="col-lg-6 me-auto">
        <h2 class="text-light">Unlock Exclusive Opportunities in Miami's Off-Market Properties</h2>
        <p class="text-light text-start">
          Get early access to Miami's off-market properties. Whether you're buying
          or selling, join our exclusive network to unlock unparalleled
          opportunities. Submit your property or explore listings now!
        </p>
        <button class="btnBlackNWhite">Know More</button>
      </div>
    </div>
  </div>
</div>
<div class="where py-5">
  <div class="cstmContainer">
    <div class="row">
      <div class="col-lg-6">
        <div class="mapBox">
          <img width="100%" height="100%" src="../../assets/img/map.png" alt="map" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="brainImg">
          <img src="../../assets/img/sec-6-profile.png" width="100%" height="100%" alt="brian" />
        </div>
        <h2 class="text-light mt-3">Where’s Bryan</h2>
        <p class="text-light text-start">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
          rhoncus dolor purus non enim praesent elementum facilisis leo, vel
          fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
          enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
          orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae
          tortor condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit ut aliquam, purus sit amet luctus venenatis.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
          rhoncus dolor purus non enim praesent elementum facilisis leo, vel
          fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis
          enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
          orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae
          tortor condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit ut aliquam, purus sit amet luctus venenatis.
        </p>
        <button class="btnPrimary">Know More</button>
      </div>
      <div class="col-lg-12 mt-3">
        @defer {
          <app-card-carousel></app-card-carousel>
          }
      </div>
    </div>
  </div>
</div>
<!-- <div class="lg-12 sec-6">
  <div class="community-carousel">
    @defer {
    <app-card-carousel></app-card-carousel>
    }
  </div>
</div>
<div class="lg-12 sec-7">
  <div class="display container-site">
    <div class="sec-7-content display">
      <div class="blog-head">
        <h2>Blog & News</h2>
      </div>
      <div class="blog-sec-line">
        <hr />
      </div>
    </div>
  </div>

  <div class="blog-carousel">
    @defer {
    <app-blog-carousel></app-blog-carousel>
    }
  </div>
</div> -->
}