h5 {
  font-size: 1.2vw;
}

.sec-2 {
  background-color: var(--sec-light);
}

.register-bg {
  background-color: var(--royal-blue);
  width: 100%;
  border-radius: 1vw;
  position: relative;
  margin-top: 5rem;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 50%;
    background: url("../../../assets/img/house-img-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right top;
  }
}

.counter {
  width: 100%;
  justify-content: space-between;
}

.counterBox {
  width: calc(100% / 3.3);
}

.counter-num {
  font-family: "bold";
  color: var(--white);
  font-size: 20px;
}

.counter-name {
  font-size: 0.85vw;
  color: var(--white);
  font-family: "reg";
}

.dream-home {
  position: relative;
  align-items: center;
  min-height: 500px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url("../../../assets/img/dream-home-img.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }

  .btnSecondary {
    padding: 1vw 2vw;
  }
}

.dream-home.right {
  position: static;

  &::after {
    left: unset;
    right: 0;
    background: url("../../../assets/img/market-img.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.blueBg {
  background: var(--royal-blue);
}

.where {
  min-height: 500px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30%;
    background: var(--royal-blue);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: var(--dark-blue);
    z-index: -1;
  }

  .brainImg {
    width: 50%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }
}

.sec-7 {
  background-color: var(--blog-sec);
}

.homefourth-heading h2,
.profil-heading {
  font-size: 56px;
}

.heading-width {
  width: 82%;
}

@media only screen and (max-width: 1366px) {
  .bigFont {
    font-size: 56px;
  }

  .homefourth-heading h2 {
    font-size: 40px;
  }

  .h3-heading {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 18px;
  }

  .bigFont {
    font-size: 40px;
  }

  .where .brainImg {
    height: 240px;
  }

  .h3-heading {
    font-size: 22px;
  }

  .counter-name {
    font-size: 8px;
  }

  .homefourth-heading h2,
  .profil-heading {
    font-size: 34px;
  }

  .heading-width {
    width: 90%;
  }

  .register-bg {
    .position-relative {
      z-index: 1;
      background: rgb(0 0 0 / 45%);
      box-shadow: 0 8px 32px 0px rgb(0 0 0 / 45%);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(4px);
      padding: 1rem;
    }

    &::after {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
  }

  .brainImg {
    height: 360px;
  }
}

@media only screen and (max-width: 821px) {
  .heading-width {
    width: 100%;
  }

  .dream-home {
    margin-top: 1rem;
    min-height: auto;
  }

  .dream-home::after {
    content: unset;
  }

  .where .brainImg {
    height: 240px;
    margin: 1rem auto;
  }

  .where .brainImg img {
    object-fit: contain;
    border-radius: 8px;
  }

  .dream-home.right {
    padding-top: 3rem;
  }

  .dream-home p {
    padding: 6px 0px;
  }

  .dream-home,
  .dream-home p,
  .where,
  .where p.text-start {
    text-align: center !important;
  }
}

@media only screen and (max-width: 540px) {
  h5 {
    font-size: 4vw;
  }

  .dream-home p {
    line-height: normal;
  }

  .homefourth-heading h2 {
    font-size: 34px;
  }

  .heading-width {
    width: 100%;
  }

  .register-bg {
    padding: 2rem 26px !important;
  }

  .counter-num {
    font-size: 18px;
  }

  .register-bg::after {
    content: "";
    bottom: auto;
    top: -50px;
  }

  .dream-home::after {
    height: 320px;
  }

  .submit-btn {
    background-color: red !important;
    color: white !important;
    border: 0;
  }

  .knowmore-btn {
    background-color: black;
    color: white;
    border: 0;
  }
}
