<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold mb-3">Settings</h6>
        </div>
        <div class="col-lg-12">
            <h6 class="bold mb-3">Personal Information</h6>
        </div>
    </div>
    <form [formGroup]="settingForm" (ngSubmit)="onSubmit()" class="row">
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="fullName" label="Full Name"
                placeholder="Enter your full name*"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="email" [form]="settingForm" control="email" [readOnly]="true" label="Email address"
                placeholder="Enter your email address*"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="number" [form]="settingForm" control="contact" label="Phone Number (Optional)"
                placeholder="Enter your phone number"></app-input>
        </div>
        <div class="col-lg-12">
            <h6 class="bold mt-3">Address (Optional)</h6>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="address" label="Address"
                placeholder="Enter your Address"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="apt" label="Apt, Suite, Unit, Building, Floot, etc."
                placeholder="Apt, Suite, Unit, Building, Floot, etc"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="city" label="City"
                placeholder="Enter your City"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="state" label="State"
                placeholder="Enter your State"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="zip" label="Zip"
                placeholder="Enter your Zip"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input type="text" [form]="settingForm" control="country" label="Country"
                placeholder="Enter your Country"></app-input>
        </div>
        <div class="col-lg-6 mx-auto dCenter align-items-end">
            <button class="btnPrimary py-1 w-100 my-3" type="submit">Save</button>
        </div>
    </form>
    <form [formGroup]="securityForm" class="row">
        <div class="col-lg-12">
            <h6 class="bold mb-3">Security Information</h6>
        </div>
        <div class="col-lg-10">
            <app-input type="password" [form]="securityForm" [password]="true" control="password" label="New Password"
                placeholder="Enter your New password"></app-input>
        </div>
        <div class="col-lg-2 d-flex align-items-end">
            <button class="btnPrimary py-1 my-3 w-100" type="submit">Change</button>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold mt-3 mb-0">Deactivate My Account</h6>
            <p class="reg mb-3">By deactivating your account, you will no longer be able to access your account or sign in</p>
        </div>
        <div class="col-lg-3">
            <button class="btnDanger py-1 w-100">Deactivate</button>
        </div>
    </div>
</div>