
<div class="dCenter justify-content-end">
  <button class="carosuelBtn dCenter me-2" (click)="owlCar.prev()">
    <fa-icon class="dCenter" [icon]="faChevronCircleLeft"></fa-icon>
  </button>
  <button class="carosuelBtn dCenter" (click)="owlCar.next()">
    <fa-icon class="dCenter" [icon]="faChevronCircleRight"></fa-icon>
  </button>
</div>
<owl-carousel-o [options]="customOptions"  #owlCar>
  @for (card of cards; track card) {
  <ng-container>
    <ng-template carouselSlide>
      <div class="card-wrapper swiper-slide">
        <div class="card">
          <div class="image-content">
            <span class="overlay"></span>
            <div class="card-image">
              <img [src]="card.imgSrc" alt="Card Image" class="card-img">
              <div class="blog-img-content display content-between">
                <div class="date-div display">
                  <div class="circle"></div>
                  <div class="date">{{card.date}}</div>
                </div>
                <div class="badge">{{card.badge}}</div>
              </div>
            </div>
            <div class="card-content">
              <div class=" content-between">
                <h1 class="card-name">{{ card.name }}</h1>
              </div>
              <p>{{ card.description }}</p>
              <div class="blog-btn">
                <a [routerLink]="card.buttonUrl" class="display">
                  <mat-icon class="blog-btn-icon">arrow_forward</mat-icon>
                  <span>Read more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  }
</owl-carousel-o>