<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold mb-3">Home</h6>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="border-1 border rounded-3 p-3 border-dark">
                        <div class="dCenter justify-content-between">
                            <h6 class="mb-0 bold">Total Properties</h6>
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </div>
                        <div class="dCenter justify-content-start gap-3 mt-3">
                            <div class="iconContainer dCenter">
                                <fa-icon [icon]="faMapMarker" size="2x"></fa-icon>
                            </div>
                            <h3 class="mb-0 bold">20</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="border-1 border rounded-3 p-3 border-dark">
                        <div class="dCenter justify-content-between">
                            <h6 class="mb-0 bold">For Sale</h6>
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </div>
                        <div class="dCenter justify-content-start gap-3 mt-3">
                            <div class="iconContainer dCenter">
                                <fa-icon [icon]="faSaleTag" size="2x"></fa-icon>
                            </div>
                            <h3 class="mb-0 bold">20</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="border-1 border rounded-3 p-3 border-dark">
                        <div class="dCenter justify-content-between">
                            <h6 class="mb-0 bold">For Rent</h6>
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </div>
                        <div class="dCenter justify-content-start gap-3 mt-3">
                            <div class="iconContainer dCenter">
                                <fa-icon [icon]="faKey" size="2x"></fa-icon>
                            </div>
                            <h3 class="mb-0 bold">20</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h6 class="mb-0 bold">Total Listings</h6>
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis" [plotOptions]="chartOptions.plotOptions"></apx-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="border border-1 border-dark rounded-3 p-3 mb-3">
                <h6 class="bold mb-0">Analytics</h6>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>tty</mat-icon>
                        <p class="smallFont mb-0">Leads</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>call</mat-icon>
                        <p class="smallFont mb-0">Calls</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>mail</mat-icon>
                        <p class="smallFont mb-0">Email</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <hr class="my-2">
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>visibilityy</mat-icon>
                        <p class="smallFont mb-0">View</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>ads_click</mat-icon>
                        <p class="smallFont mb-0">Click</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
                <div class="dCenter justify-content-between my-3">
                    <div class="dCenter gap-2 icon-analaytics-text">
                        <mat-icon>web_traffic</mat-icon>
                        <p class="smallFont mb-0">CTR (Click Through
                            Rate)</p>
                    </div>
                    <p class="mb-0">12</p>
                </div>
            </div>
            <div class="redirect-box">
                <button class="py-5" mat-raised-button (click)="viewOffMarket()">
                    <mat-icon>north_east</mat-icon>
                    Go to market.
                </button>
            </div>
        </div>
    </div>
</div>