<section>
  <div class="lg-12">
    <div
      class="container-site d-flex justify-content-between align-items-center"
    >
      <a class="dCenter">
        <fa-icon [icon]="faHeadphones"></fa-icon>
        <h2>
          Need Help? Call us
          <span>123 456 7890</span>
        </h2>
      </a>
      <a class="dCenter">
        <fa-icon [icon]="faAt"></fa-icon>
        <h2>
          Contact for more info:
          <span>info&#64;rightnehindme.com</span>
        </h2>
      </a>
      <div class="social-links dCenter">
        <a href="#"> <fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#"> <fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
      </div>
    </div>
  </div>

  <nav>
    <div class="lg-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="nav-logo">
          <a routerLink="/"
            ><img src="../../assets/img/nav-logo.png" alt="" class="logo-img"
          /></a>
        </div>
        <div class="cstm-nav-item">
          <ul class="">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="">About Us</a>
            </li>
            <li>
              <a routerLink="/buy">buy</a>
            </li>
            <li>
              @if (user) {
              <a routerLink="/selling-detail">Sell</a>
              } @else {
              <a (click)="openSellPopup('sell')">Sell</a>
              }
            </li>
            <li>
              <a routerLink="/rent">Rent</a>
            </li>
            <li>
              <a routerLink="">property trend</a>
            </li>
            <li>
              <a routerLink="/contact-us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          @if(user){
          <div class="dropdown" ngbDropdown>
            <button
              class="btn-style-none"
              ngbDropdownToggle
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="profile-img">
                <img
                  src="https://www.pinclipart.com/picdir/big/89-897615_all-photo-png-clipart-telemarketing-clipart-transparent-png.png"
                  alt=""
                />
              </div>
            </button>
            <ul
              ngbDropdownMenu
              class="dropdown-menu cstm-dropmenu dropstart"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a class="dropdown-item" ngbDropdownItem href="#">LogOut</a>
              </li>
            </ul>
          </div>
          } @else{
          <button
            class="d-flex justify-content-between align-items-center btnSecondary margin-right-cstm"
            (click)="openPopup()"
          >
            <fa-icon [icon]="faUser"></fa-icon> Login
          </button>
          }
          <button
            class="btnSecondary d-flex justify-content-between align-items-center"
            (click)="openSellPopup('rent')"
          >
            Submit A Deal
          </button>
        </div>
      </div>
    </div>
  </nav>
</section>
