@if(screenWidth > 786){
<section class="cstmContainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="dCenter justify-content-between">
        <a class="dCenter">
          <fa-icon [icon]="faHeadphones"></fa-icon>
          <h2 class="mb-0 ms-2 wow fadeInDown">
            Need Help? Call us
            <span>123 456 7890</span>
          </h2>
        </a>
        <a class="dCenter">
          <fa-icon [icon]="faAt"></fa-icon>
          <h2 class="mb-0 ms-2 wow fadeInDown">
            Contact for more info:
            <span>info&#64;rightnehindme.com</span>
          </h2>
        </a>
        <div class="social-links dCenter">
          <a> <fa-icon class="wow fadeInDown" [icon]="faFacebook"></fa-icon></a>
          <a> <fa-icon class="wow fadeInDown" [icon]="faInstagram"></fa-icon></a>
          <a> <fa-icon class="wow fadeInDown" [icon]="faTwitter"></fa-icon></a>
          <a> <fa-icon class="wow fadeInDown" [icon]="faLinkedin"></fa-icon></a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="dCenter justify-content-between">
        <div class="nav-logo wow fadeInDown">
          <a routerLink="/"><img src="../../assets/img/nav-logo.png" alt="" class="logo-img" /></a>
        </div>
        <div class="cstm-nav-item">
          <ul class="mb-0">
            <li>
              <a routerLink="/" class="wow fadeInDown">Home</a>
            </li>
            <li>
              <a routerLink="" class="wow fadeInDown">About Us</a>
            </li>
            <li>
              <a routerLink="/buy" class="wow fadeInDown">buy</a>
            </li>
            <li>
              @if (user) {
              <a routerLink="/selling-detail" class="wow fadeInDown">Sell</a>
              } @else {
              <a (click)="openSellPopup('sell')" class="wow fadeInDown">Sell</a>
              }
            </li>
            <li>
              <a routerLink="/rent" class="wow fadeInDown">Rent</a>
            </li>
            <li>
              <a routerLink="" class="wow fadeInDown">property trend</a>
            </li>
            <li>
              <a routerLink="/contact-us" class="wow fadeInDown">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="dCenter">
          @if(user){
          <div class="dropdown cstm-drop-btn" ngbDropdown>
            <button class="btn-style-none" ngbDropdownToggle type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <div class="profile-img">
                <img [src]="
                    user?.imageUrl ||
                    'https://www.pinclipart.com/picdir/big/89-897615_all-photo-png-clipart-telemarketing-clipart-transparent-png.png'
                  " alt="profile picture" />
              </div>
            </button>
            <ul ngbDropdownMenu class="dropdown-menu cstm-dropmenu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" ngbDropdownItem (click)="logout()">Log Out</a>
              </li>
            </ul>
          </div>
          } @else{
          <button
            class="wow fadeInDown d-flex justify-content-between align-items-center btnSecondary margin-right-cstm"
            (click)="openPopup()">
            <fa-icon [icon]="faUser"></fa-icon> Login
          </button>
          }
          <button class="wow fadeInDown btnSecondary d-flex justify-content-between align-items-center"
            (click)="openSellPopup('rent')">
            Submit A Deal
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
} @else{
<div class="dCenter position-relative">
  <div class="position-absolute opener">
    <fa-icon [icon]="faBars" (click)="show(true)"></fa-icon>
  </div>
  <div class="side-nav-logo mt-1">
    <a routerLink="/"><img src="../../assets/img/nav-logo.png" alt="" /></a>
  </div>
</div>
<div class="sidebar" [ngClass]="{ open: sidebar }">
  <div class="sidebar-padding d-flex justify-content-between align-items-center">
    <div class="side-nav-logo">
      <a routerLink="/" (click)="show(false)"><img src="../../assets/img/nav-logo.png" alt="" /></a>
    </div>
    <div class="dCenter">
      <fa-icon [icon]="faTimes" class="" (click)="show(false)"></fa-icon>
    </div>
  </div>

  <div class="cstm-nav-item ">
    <ul class="mb-0">
      <li>
        <a routerLink="/" (click)="show(false)">Home</a>
      </li>
      <li>
        <a routerLink="" (click)="show(false)">About Us</a>
      </li>
      <li>
        <a routerLink="/buy" (click)="show(false)">buy</a>
      </li>
      <li>
        @if (user) {
        <a routerLink="/selling-detail" (click)="show(false)">Sell</a>
        } @else {
        <a (click)="show(false); openSellPopup('sell')">Sell</a>
        }
      </li>
      <li>
        <a routerLink="/rent" (click)="show(false)">Rent</a>
      </li>
      <li>
        <a routerLink="" (click)="show(false)">property trend</a>
      </li>
      <li>
        <a routerLink="/contact-us" (click)="show(false)">Contact Us</a>
      </li>
    </ul>
    <div class="dCenter mt-2 flex-column">
      @if(user){
      <button class="btnSecondary" (click)="show(false); logout()">
        <img class="proifle" [src]="user?.imageUrl ||
          'https://www.pinclipart.com/picdir/big/89-897615_all-photo-png-clipart-telemarketing-clipart-transparent-png.png'
        " alt="profiel picture"> Logout
      </button>
      }
      @else {
      <button class="btnSecondary" (click)="show(false); openPopup()">
        <fa-icon [icon]="faUser"></fa-icon> Login
      </button>
      }
      <button class="btnSecondary mt-4" (click)="show(false);openSellPopup('rent')">
        Submit A Deal
      </button>
    </div>
  </div>
</div>
}