h1,
h2 {
  font-family: "reg";
  color: var(--black);
}

h1 {
  font-size: 1.5vw;
}

h2 {
  font-size: 0.83vw;
}

h2 span {
  font-family: "bold";
}

.contact-nav {
  margin-left: 2.9vw;
}

.social-links a,
.container-site a {
  color: #000;
}

.social-links fa-icon {
  margin-left: 10px;
}

.link-img {
  height: 0.95vw;
  object-fit: cover;
}

nav {
  padding: 1.45vw 0;
}

.nav-logo {
  width: 15.8%;
}

.logo-img {
  width: 100%;
  object-fit: cover;
}

.cstm-nav-item ul {
  display: flex;
}

.cstm-nav-item ul li {
  padding: 2px 16px;
  list-style: none;
  letter-spacing: 0.02vw;
}

.cstm-nav-item ul li a {
  color: var(--black);
  font-family: "reg";
  font-size: 1.11vw;
  text-transform: capitalize;
  transition: font-family 0.3s ease;
}

.cstm-nav-item ul li a:hover {
  text-decoration: underline;
}

.btn-style-none {
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
  margin-right: 16px;
}

.dropdown-toggle::after {
  display: none;
}

.profile-img {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #000;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cstm-dropmenu li {
  padding: 4px 6px;
}

.btnSecondary:hover mat-icon {
  color: #fff !important;
}

.btnSecondary fa-icon,
.container-site fa-icon {
  padding-right: 6px;
}

.margin-right-cstm {
  margin-right: 1rem;
}

.submit-btn {
  margin-left: 0.7vw;
  font-size: 1vw;
  font-family: "reg";
  border: 0.1vw solid var(--black);
  padding: 1.8vw 1.75vw;
  border-radius: 2.5vw;
  background-color: transparent;
}

.cstmContainer {
  padding: 1rem 0;
}

.cstm-drop-btn .cstm-dropmenu {
  inset: auto !important;
  transform: translate3d(-20px, 0px, 0px) !important;
  right: 0 !important;
  padding: 0px;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    position: absolute;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(197deg, white, #0248b0);
    overflow-x: hidden;
    top: 0;
    left: -80%;
    transition: 0.5s all ease-in-out;
    z-index: 6;
  }

  .open {
    left: 0;
  }

  .opener {
    z-index: 5;
    top: 1rem;
    left: 1rem;
  }

  .side-nav-logo {
    width: 180px;
    height: 40px;
    margin: auto;
  }

  .sidebar-padding {
    padding: 4px 10px;
  }

  .side-nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .sidebar .cstm-nav-item ul {
    flex-direction: column;
    padding-left: 0px;
  }

  .sidebar .cstm-nav-item ul li a {
    font-size: 14px;
  }
  .cstm-nav-item ul li {
    text-align: center;
    margin: 1rem 0;
}
}