@if(screenWidth > 786){
<section class="cstmContainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="dCenter justify-content-between">
        <a class="dCenter">
          <fa-icon [icon]="faHeadphones"></fa-icon>
          <h2 class="mb-0 ms-2">
            Need Help? Call us
            <span>123 456 7890</span>
          </h2>
        </a>
        <a class="dCenter">
          <fa-icon [icon]="faAt"></fa-icon>
          <h2 class="mb-0 ms-2">
            Contact for more info:
            <span>info&#64;rightnehindme.com</span>
          </h2>
        </a>
        <div class="social-links dCenter">
          <a> <fa-icon [icon]="faFacebook"></fa-icon></a>
          <a><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a> <fa-icon [icon]="faTwitter"></fa-icon></a>
          <a> <fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="dCenter justify-content-between">
        <div class="nav-logo">
          <a routerLink="/"><img src="../../assets/img/nav-logo.png" alt="" class="logo-img" /></a>
        </div>
        <div class="cstm-nav-item">
          <ul class="mb-0">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="">About Us</a>
            </li>
            <li>
              <a routerLink="/buy">buy</a>
            </li>
            <li>
              @if (user) {
              <a routerLink="/selling-detail">Sell</a>
              } @else {
              <a (click)="openSellPopup('sell')">Sell</a>
              }
            </li>
            <li>
              <a routerLink="/rent">Rent</a>
            </li>
            <li>
              <a routerLink="">property trend</a>
            </li>
            <li>
              <a routerLink="/contact-us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="dCenter">
          @if(user){
          <div class="dropdown cstm-drop-btn" ngbDropdown>
            <button class="btn-style-none" ngbDropdownToggle type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <div class="profile-img">
                <img [src]="
                    user?.imageUrl ||
                    'https://www.pinclipart.com/picdir/big/89-897615_all-photo-png-clipart-telemarketing-clipart-transparent-png.png'
                  " alt="profile picture" />
              </div>
            </button>
            <ul ngbDropdownMenu class="dropdown-menu cstm-dropmenu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" ngbDropdownItem (click)="logout()">Log Out</a>
              </li>
            </ul>
          </div>
          } @else{
          <button class="d-flex justify-content-between align-items-center btnSecondary margin-right-cstm"
            (click)="openPopup()">
            <fa-icon [icon]="faUser"></fa-icon> Login
          </button>
          }
          <button class="btnSecondary d-flex justify-content-between align-items-center"
            (click)="openSellPopup('rent')">
            Submit A Deal
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
} @else{
  <div class="dCenter position-relative">
    <div class="position-absolute opener">
      <fa-icon [icon]="faBars" (click)="show(true)"></fa-icon>
    </div>
    <div class="side-nav-logo mt-2">
      <a routerLink="/"><img src="../../assets/img/nav-logo.png" alt="" /></a>
    </div>
  </div>
<div class="sidebar" [ngClass]="{ open: sidebar }">
  <div class="sidebar-padding d-flex justify-content-between align-items-center">
    <div class="side-nav-logo">
      <a routerLink="/"><img src="../../assets/img/nav-logo.png" alt="" /></a>
    </div>
    <div class="dCenter">
      <fa-icon [icon]="faTimes" class="" (click)="show(false)"></fa-icon>
    </div>
  </div>

  <div class="cstm-nav-item ">
    <ul class="mb-0">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="">About Us</a>
      </li>
      <li>
        <a routerLink="/buy">buy</a>
      </li>
      <li>
        @if (user) {
        <a routerLink="/selling-detail">Sell</a>
        } @else {
        <a (click)="openSellPopup('sell')">Sell</a>
        }
      </li>
      <li>
        <a routerLink="/rent">Rent</a>
      </li>
      <li>
        <a routerLink="">property trend</a>
      </li>
      <li>
        <a routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
    <div class="dCenter mt-2 flex-column">
      <button class="btnSecondary" (click)="openPopup()">
        <fa-icon [icon]="faUser"></fa-icon> Login
      </button>

      <button class="btnSecondary mt-4" (click)="openSellPopup('rent')">
        Submit A Deal
      </button>
    </div>
  </div>
</div>
}