.nav-logo {
  width: 15.8%;
}

.logo-img {
  object-fit: cover;
}

.cstm-nav-item ul {
  display: flex;
}

.cstm-nav-item ul li {
  padding: 2px 16px;
  list-style: none;
}

.cstm-nav-item ul li a {
  text-transform: capitalize;
}

.cstm-nav-item ul li a:hover {
  text-decoration: underline;
}

.btn-style-none {
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
  margin-right: 16px;
}

.dropdown-toggle::after {
  display: none;
}

.profile-img {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #000;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cstm-dropmenu li {
  padding: 4px 6px;
}

.cstmContainer {
  padding: 1rem 0;
}

.cstm-drop-btn .cstm-dropmenu {
  inset: auto !important;
  transform: translate3d(-20px, 0px, 0px) !important;
  right: 0 !important;
  padding: 0px;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    position: absolute;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background: white;
    overflow-x: hidden;
    top: 0;
    left: -80%;
    transition: 0.5s all ease-in-out;
    z-index: 15;
    padding-left: 40px;
  }

  .open {
    left: 0;
  }

  .opener {
    z-index: 1;
    top: 1rem;
    left: 1rem;
  }

  .side-nav-logo {
    width: 180px;
    height: 40px;
  }

  .sidebar-padding {
    padding: 10px 10px 10px 0;
  }

  .side-nav-logo img {
    object-fit: contain;
  }

  .proifle {
    display: none;
  }

  .sidebar-content {
    margin-top: 50px;

    ul {
      padding-left: 0 !important;
    }

    ul li {
      list-style: none;
      margin-bottom: 25px;
    }

    ul li a {
      font-family: "reg";
      font-size: 20px;
      color: black;
    }
  }

  .sidebar-white-btn,
  .sidebar-red-btn {
    width: 85%;
    height: 45px;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
  }

  .sidebar-red-btn {
    background-color: red;
    border: none;
    color: white;
  }

  .sidebar h6 {
    font-size: 0.8rem;
    position: absolute;
    bottom: 10px;
    font-family: "bold";
  }
}
