<div class="container-site">
  <div class="row">
    <div class="full-lenght">
      <h4 class="text-center text-dark bold popup-head">Add New Property</h4>
      <p>Fill out the form to add a new property with all necessary details and submit.</p>
      <div class="dCenter w-50 mx-auto btns gap-2">
        <!-- <button mat-stroked-button class="rent-btn" [class.Active]="active == 'rent'"
                    (click)="makeActive('rent')">Rent</button> -->
      </div>
    </div>
  </div>
  <form class=" row justify-content-between" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <div class="half-input">
      <app-input classes="w-100 mb-2" [readOnly]="user" type="text" [form]="propertyForm" control="firstName"
        label="First Name" placeholder="Enter your First Name*"></app-input>
    </div>
    <div class="half-input">
      <app-input classes="w-100 mb-2" [readOnly]="user" type="text" [form]="propertyForm" control="lastName"
        label="Last Name" placeholder="Enter your Last Name*"></app-input>
    </div>
    <div class="half-input">
      <app-input classes="w-100 mb-2" matType="select" [array]="types" [form]="propertyForm" control="propertyType"
        label="Property Type"></app-input>
    </div>
    <div class="half-input">
      <app-input classes="w-100 mb-2" type="number" [form]="propertyForm" control="unit" label="Unit (If Applicable)"
        placeholder="Enter Unit"></app-input>
    </div>
    <div [ngClass]="[user ? 'full-lenght' : 'half-input']">
      <app-input classes="w-100 mb-2" [readOnly]="user" type="email" [form]="propertyForm" control="email" label="Email"
        placeholder="Enter Your Email Address"></app-input>
    </div>
    @if(!user && active == 'rent'){
    <div class="half-input">
      <app-input classes="w-100 mb-2" type="password" [password]="true" [form]="propertyForm" control="password"
        label="Password" placeholder="Enter your Password*"></app-input>
    </div>
    } @if(active == 'sell' || checkUnitValidator()){
    <div class="full-lenght">
      <app-input
        classes="w-100 mb-2"
        type="number"
        [form]="propertyForm"
        control="contactNo"
        label="Contact No"
        placeholder="Enter your Contact No*"
      ></app-input>
    </div>
    }
    <div class="full-lenght">
      <app-map [addMarker]="true" [draggable]="true" [search]="true"
        (mapMarkerCordinates)="setFormValue($event, 'latLng')"
        (mapSearchLocation)="setFormValue($event, 'address')"></app-map>
    </div>
    <div class="dCenter mt-3">
      <button class="btnPrimary" [disabled]="propertyForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>