<div class="container p-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="plus-img">
                <img src="../../assets/img/popup-plus.webp" alt="">
            </div>
            <h1 class="text-center text-dark">Add New Property</h1>
            <div class="btns display content-between">
                <button mat-stroked-button class="rent-btn" [class.Active]="active == 'rent'"
                    (click)="makeActive('rent')">Rent</button>
                <button mat-stroked-button class="sell-btn" [class.Active]="active == 'sell'"
                    (click)="makeActive('sell')">Sell</button>
            </div>
        </div>
    </div>
    <form class="row" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-6">
            <app-input classes="w-100 mb-1" type="text" [form]="propertyForm" control="firstName" label="First Name"
                placeholder="Enter your First Name*"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input classes="w-100 mb-1" type="text" [form]="propertyForm" control="lastName" label="Last Name"
                placeholder="Enter your Last Name*"></app-input>
        </div>
        <div class="col-lg-6 dCenter">
            <app-input classes="w-100 mb-1" matType="select" [array]="types" [form]="propertyForm" control="propertyType"
                label="Last Name" placeholder="Enter your Last Name*"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input classes="w-100 mb-1" type="text" [form]="propertyForm" control="unit" label="Unit (If Applicable)"
                placeholder="Enter Unit"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input classes="w-100 mb-1" type="email" [form]="propertyForm" control="email" label="Email"
                placeholder="Enter Your Email Address"></app-input>
        </div>
        <div class="col-lg-6">
            <app-input classes="w-100 mb-1" type="text" [form]="propertyForm" control="address" label="Address"
                placeholder="Enter Your Address"></app-input>
        </div>
        <div class="col-lg-12 my-3">
            <div class="map">
                <img src="../../assets/img/map.webp" alt="">
            </div>
        </div>
        <div class="dCenter">
            <button class="btnPrimary">Submit</button>
        </div>
    </form>
</div>