/* Animation */
@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  to {
    -ms-transform: rotate(360deg);
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/* Loader (*/
#loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border-top: 3px solid #2f64ed;
  border-right: 3px solid #2f64ed;
  border-bottom: 3px solid #a3a3a3;
  border-left: 3px solid #a3a3a3;
  -webkit-animation: loading 1.2s infinite linear;
  -moz-animation: loading 1.2s infinite linear;
  -ms-animation: loading 1.2s infinite linear;
  animation: loading 1.2s infinite linear;
}
