.carosuelBtn{
    background: transparent;
    border: 1px solid #3b3b3b;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    width:40px;
    height:40px;
    font-size: 18px;
    margin-bottom: 1rem;
}

.rental-btn {
    text-align: center;
}

.rental-btn button {
    padding: 1vw 3vw !important;
}

.noData {
    text-align: center;
    margin: 2rem 0;
}