.carosuelBtn{
    background: #fff;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    width:50px;
    height:50px;
    font-size: 18px;
}

.rental-btn {
    text-align: center;
}

.rental-btn button {
    padding: 1vw 3vw !important;
}

.noData {
    text-align: center;
    margin: 2rem 0;
}