<section>
  <div class="slide-container swiper">
    <div class="slide-content swiper-container-rental">
      <div class="carousel-btn">
        <button mat-icon-button (click)="slidePrev()" class="swiper-button-prev-rental">
          <mat-icon class="community-carousel-icon">arrow_back_ios</mat-icon>
        </button>

        <button mat-icon-button (click)="slideNext()" class="swiper-button-next-rental">
          <mat-icon class="community-carousel-icon"> arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div class="swiper-wrapper container-site" (click)="openPopup()">
        @for (card of cards; track card) {
        <div class="swiper-slide">
          <app-property-card [card]="card" [showBadge]="true" [loader]="false" type="carousel"
            [background]="background"></app-property-card>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="rental-btn">
    <button mat-stroked-button routerLink="/property-details">View More</button>
  </div>
</section>