.carousel-btn {
    text-align: right;
    padding-bottom: 4vw;
    margin-right: 3vw;
}

.carousel-btn button {
    border: 0.1vw solid var(--carousel-btn);
    border-radius: 50%;
    padding: 0.5vw 0vw 0vw 0.3vw;
    color: var(--black);
    margin-left: 1vw;
}


.rental-btn {
    text-align: center;
    padding-bottom: 3vw;
}

.rental-btn button {
    color: var(--black);
    border: 0.1vw solid var(--black);
    font-size: 1.05vw;
    font-family: "reg";
    padding: 1.7vw 2.7vw;
    border-radius: 3vw;
}

.noData{
    text-align: center;
    margin: 2rem 0;
}