h1{
    font-size: 2.2vw;
    font-family: 'bold';
    color: var(--black);
}

h2{
    font-size: 1.8vw;
    font-family: 'bold';
    color: var(--royal-blue);
}

h3{
    font-size: 1vw;
    font-family: 'med';
    color: var(--black);
    margin-bottom: 0.5vw;
}

p{
    font-size: 0.76vw;
    line-height: 1.2vw;
    font-family: "reg";
    color: var(--carousel-add);
}

:host ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    width: 100%!important;
}

.carousel-img{
    width: 100%;
}

.carousel-img-half{
    width: 49.5%;
    object-fit: cover;
}

.carousel-img-full{
    width: 100%;
    object-fit: cover;
}

.first-box{
    background-color: var(--add-prop-bg);
    padding: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.property-id{
    font-size: 0.8vw;
    font-family: 'reg';
    color: var(--black);
}

.first-box h1{
    margin: 0.5vw 0vw;
}

.address{
    font-size: 0.95vw;
    font-family: 'reg';
    color: var( --carousel-add);
    margin-bottom: 1vw;
}

.prop-details{
    width: 47%;
}

.prop-detail-img{
    width: 4vw;
    align-items: center;
}

.prop-detail-img img{
    width: 2vw;
    height: 2vw;
}

.prop-detail-text{
    font-size: 0.6vw;
    align-content: center;
    font-family: 'med';
    color: var( --carousel-add);
    margin-left: 0.5vw;
}

.prop-detail-img hr{
    height: 1.5vw;
    align-self: center;
    color: var(--hr);
    margin-left: 1vw;
}

.pricing{
    align-items: center;
    margin-top: 0.5vw;
}

.pricing-btns{
    width: 66%;
}

:host ::ng-deep .mat-mdc-outlined-button:not(:disabled) {
    padding: 1.5vw 1vw;
    border-radius: 3vw;
    background-color: transparent;
    color: var(--black);
}

:host ::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
    padding: 1.5vw 1vw;
    border-radius: 3vw;
    background-color: var(--royal-blue);
    color: var(--white);
}

:host ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base{
    width: 2vw;
    height: 2vw;
}

:host ::ng-deep .mat-icon {
    font-size: 1.6vw;
}

.slider-area{
    padding: 1vw 0vw 1vw 1vw;
}

/*  */

.slider {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
  }
  
  .slider-track {
    display: flex;
    width: max-content; /* Ensures the track fits its content */
    animation: slide 20s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .heading {
    font-size: 1.05vw;
    font-family: 'reg';
    color: var(--black);
    display: inline-block;
    padding: 0vw 0.5vw;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s, font-family 0.3s;
  }
  
  .heading:hover {
    background-color: #f0f0f0ae;
    color: var(--royal-blue);
    font-family: 'bold';
  }

/*  */

.Prop-info{
    margin: 0vw 1vw 1vw;
    padding: 0.5vw 0vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
}

.prop-info-padding{
    padding-left: 1vw;
}

.white-box{
    background-color: var(--white);
    padding: 0.25vw 1vw ;
    width: 49.25%;
}

.transparent-box{
    background-color: transparent;
    padding: 0.25vw 1vw ;
    width: 49.25%;
}

.text-info{
    width: 7vw;
}

.white-box-text{
    border-radius: 1vw;
    font-size: 0.8vw;
    font-family: 'reg';
    color: var(--black);
}

.prop-deatil{
    margin: 0vw 1vw 1vw;
    padding: 0.5vw 1vw 1.5vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
}

.ameneties{
    margin: 0vw 1vw 1vw;
    padding: 1vw 1vw 1vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
}

.facilities{
    margin-top: 1.2vw;
}

.facility-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top; /* Ensure each group starts at the top */
  }
  
  .facility {
    font-size: 0.9vw;
    font-family: 'reg';
    color: var(--black);
    padding-bottom: 1vw;
    padding-right: 4vw; 
  }
  
  .gallery{
    margin: 0vw 1vw 1vw;
    padding: 1vw 1vw 0.5vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
}

.gallery-img{
    margin-top: 0.5vw;
    width: 4.5vw;
    margin-right: 0.5vw;
}

.gallery-img img{
    width: 100%;
    height: 4.5vw;
    border-radius: 0.3vw;
}

.video {
    margin: 0vw 1vw 1vw;
    padding: 1vw 1vw 0.5vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
    width: 94%;
  }

  .video-player img{
    width: 100%;
    height: 17vw;
  }

  .video-player video{
    width: 100%;
    height: 17vw;
  }

  .video-player {
    position: relative;
    margin-top: 0.5vw;
  }
  
  .thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 0.5vw;
  }
  
  .start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }
  
  .video-player button .mat-icon {
    color: var(--white);
    font-size: 2vw;
 }

 .map {
    margin: 0vw 1vw 1vw;
    padding: 1vw 1vw 0.5vw;
    background-color: var(--add-prop-bg);
    border-radius: 1vw;
    width: 94%;
  }

  .map-img{
    margin-top: 0.5vw;
    width: 100%;
  }

  .map-img img{
    width: 100%;
    height: 12vw;
    border-radius: 0.5vw;
    object-fit: cover;
  }

  :host ::ng-deep .mat-mdc-dialog-content {
    padding: 0 !important;
    max-height: 100% !important;
}

.hide {
    display: none;
}

.carousel-item{
    display: flex;
}