<div class="main-section">
  <app-banner>
    <div class="sec-1">
      <div class="content">
        <h1>Find Your Dream Home</h1>
        <div class="dCenter w-100">
          <button
            class="btnWhiteNBlue me-2"
            routerLinkActive="active"
            routerLink="/buy"
          >
            Buy
          </button>
          <button
            class="btnWhiteNBlue ms-2"
            routerLinkActive="active"
            routerLink="/rent"
          >
            Rent
          </button>
        </div>
        <div class="mt-3">
          <app-search-bar
            (searchEvent)="searchProperties($event)"
          ></app-search-bar>
        </div>

        <div
          class="d-flex align-items-center justify-content-between gap-2 w-lg-50"
        >
          <mat-form-field class="w-10">
            <mat-label>Max Price</mat-label>
            <mat-select>
              <mat-option>option a</mat-option>
              <mat-option>option b</mat-option>
              <mat-option>option c</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button>
              <mat-icon class="custom-icon material-symbols-outlined arrow-down"
                >keyboard_arrow_down</mat-icon
              >
            </button>
          </mat-form-field>
          <mat-form-field class="w-10">
            <mat-label>Beds</mat-label>
            <mat-select>
              <mat-option>option a</mat-option>
              <mat-option>option b</mat-option>
              <mat-option>option c</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button>
              <mat-icon class="custom-icon material-symbols-outlined arrow-down"
                >keyboard_arrow_down</mat-icon
              >
            </button>
          </mat-form-field>
          <mat-form-field class="w-10">
            <mat-label>Area</mat-label>
            <mat-select>
              <mat-option>option a</mat-option>
              <mat-option>option b</mat-option>
              <mat-option>option c</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button>
              <mat-icon class="custom-icon material-symbols-outlined arrow-down"
                >keyboard_arrow_down</mat-icon
              >
            </button>
          </mat-form-field>
          <mat-form-field class="w-10">
            <mat-label>Filters</mat-label>
            <mat-select>
              <mat-option>option a</mat-option>
              <mat-option>option b</mat-option>
              <mat-option>option c</mat-option>
            </mat-select>
            <button matSuffix mat-icon-button>
              <mat-icon class="custom-icon material-symbols-outlined arrow-down"
                >instant_mix</mat-icon
              >
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </app-banner>
  <div class="container-fluid d-flex my-5 flex-wrap">
    <div class="w-lg-50 leftSide">
      <div class="row">
        @for (card of cards; track card) {
        <div class="col-lg-6">
          <app-property-card [card]="card" [loader]="false"></app-property-card>
        </div>
        }
      </div>
    </div>
    <div class="w-lg-50">
      @if(mapScriptLoad){
        <google-map [style.height.px]="screenHeight" width="100%" [center]="center" [zoom]="zoom">
        </google-map>
      }
    </div>
  </div>
</div>
