h6,h6 strong {
  font-size: 1.25rem;
  font-family: 'med';
}

.inner-heading h1 {
  font-size: 30px;
}

:host ::ng-deep {

  .owl-carousel .owl-item img,
  .carouselImg {
    height: 350px;
    object-fit: cover;
    object-position: top;
    margin: 20px 0;
    border-radius: 0px;
    width: 100%;
  }

  .accordion-button::after {
    position: absolute;
    right: 10px;
  }

  .accordion-item .accordion-header .accordion-button {
    padding: 1rem 0;
  }
}

.share-icon-div a {
  margin-left: 1rem;
  color: #000;
  font-size: 24px;
  opacity: 0.7;
}

.share-icon-div a:hover {
  opacity: 1;
}

.location-para p,
.bath-text h6 {
  color: #848484;
}

.bath-img {
  width: 36px;
  height: 36px;

  img {
    width: 100%;
    height: 100%;
  }
}

.bath-text h6 {
  margin-left: 6px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
}

.right-border-gray {
  border-right: 2px solid #ddd;
  padding-right: 10px;
}

.bath-box {
  margin-right: 10px;
}

.pricing h4,
.inner-home-list ul li::marker {
  color: #0160c9;
}

.labelCheck label {
  font-size: 15px;
  font-family: 'reg';
  color: var(--black);
}

.blue-box label {
  width: 49%;
  // padding: 6px 10px;
  font-size: 15px;
  font-family: 'reg';
  color: var(--black);
}

.white-box-text{
  font-size: 15px;
  font-family: 'reg';
}

.white-label {
  background-color: var(--sec-light);
  padding: 6px 10px;
  margin-bottom: 5px;
}

.yellow-label {
  background-color: white;
  padding: 6px 10px;
  margin-bottom: 5px;
}

.accordion-item .accordion-header .accordion-button {
  box-shadow: none;
}

.information-para p,
.inner-home-list ul li {
  font-size: 15px;
}

.inner-home-list ul li {
  width: 25%;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'reg';
  color: var(--black);
}

.right-site {
  width: 100%;
  height: fit-content;
  padding: 3rem;
  background-color: var(--sec-light);
  border-radius: 14px;
  position: sticky;
  top: 1vw;
  left: 0;
  overflow: hidden;
}

.right-site p {
  font-weight: 600;
}

.banner-review-img {
  width: 100%;
  height: 400px;
  background-color: #ddd;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.cstm-width-full {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.or-line hr {
  width: 66px;
  margin: 0px 6px;
  background-color: #000;
  height: 2px;
}

.first-box {
  padding: 0px 18px;
}

.left-site-box {
  padding: 16px 0px;
  box-shadow: 0px 0px 4px 0px #ddd;
  border-radius: 14px;
}

.NoImageFound {
  object-fit: contain !important;
  background: #dddddd;
  margin: 0;
}

@media only screen and (max-width: 1025px) {
  .right-site {
    padding: 2rem 10px;
  }
  .cstmWidthBtn{
    width: 32%;
    text-align: center;
  }
  .stick{
    bottom: 10px;
  }
}

@media only screen and (max-width: 820px) {
  .right-site {
    padding: 2rem;
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 540px) {
  .right-site {
    padding: 2rem 1rem;
    width: 98%;
    margin: auto;
  }
  .owl-carousel .owl-item img,
  .carouselImg {
    height: 200px;
  }
  .inner-heading h1 {
    font-size: 24px;
  }

  .pricing {
    margin-top: 1rem;
    text-align: end;
    width: 100%;
  }

  .row.mt-5 {
    margin-top: 1rem !important;
  }

  .inner-home-list ul li {
    width: 100%;
  }
}