<div class="cstmContainer">
  <div class="row">
    @if(loader){
    <div class="dCenter py-5">
      <app-mini-loading></app-mini-loading>
    </div>
    } @else {
    <div class="col-lg-12">
      <div class="pages-links display mb-3">
        <a routerLink="/" class="smallFont">Home</a>
        <div class="slash smallFont">/</div>
        @if(propertyDetails?.propertyType == 1){
        <a routerLink="/buy" class="smallFont">Buy</a>
        } @else{
        <a routerLink="/rent" class="smallFont">Rent</a>
        }
        <div class="slash smallFont">/</div>
        <a class="smallFont">{{ propertyDetails?.title }}</a>
      </div>
      @if(propertyDetails?.propertyImages?.length){
      <owl-carousel-o [options]="customOptions" #owlCar>
        @for (card of propertyDetails?.propertyImages; track card) {
        <ng-container>
          <ng-template carouselSlide>
            <img [src]="src + card?.imageUrl" alt="image" />
          </ng-template>
        </ng-container>
        }
      </owl-carousel-o>
      } @else {
      <div class="dCenter">
        <div class="banner-review-img">
          <img class="NoImageFound" src="https://homes.madeeasy.app/img/no-propertyfound.png" alt="noimage found" />
        </div>
      </div>
      }
    </div>
    <div class="col-lg-8 mt-3">
      <div class="left-site-box">
        <div class="first-box">
          <div class="d-flex align-items-start justify-content-between">
            <div class="inner-heading">
              <h1>{{ propertyDetails?.title || "N/A" }}</h1>
            </div>
            <div class="d-flex share-icon-div">
              <a>
                <fa-icon class="dCenter" [icon]="faHeart"></fa-icon>
              </a>
              <a>
                <fa-icon class="dCenter" [icon]="faShare"></fa-icon>
              </a>
              <a>
                <fa-icon class="dCenter" [icon]="faEllipsisVertical"></fa-icon>
              </a>
            </div>
          </div>
          @if(propertyDetails?.location){
          <div class="location-para">
            <p>{{ propertyDetails?.location }}</p>
          </div>
          }
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="prop-details display content-between">
              @if(propertyDetails.noOfBed){
              <div class="dCenter bath-box right-border-gray">
                <div class="bath-img">
                  <img src="../../assets/img/bed.webp" alt="bed" />
                </div>
                <div class="bath-text">
                  <h6>{{ propertyDetails.noOfBed }}</h6>
                </div>
              </div>
              } @if(propertyDetails.noOfBath){
              <div class="dCenter bath-box right-border-gray">
                <div class="bath-img">
                  <img src="../../assets/img/bed.webp" alt="bed" />
                </div>
                <div class="bath-text">
                  <h6>{{ propertyDetails.noOfBath }}</h6>
                </div>
              </div>
              } @if(propertyDetails.area){
              <div class="dCenter bath-box right-border-gray">
                <div class="bath-img">
                  <img src="../../assets/img/bed.webp" alt="bed" />
                </div>
                <div class="bath-text">
                  <h6>{{ propertyDetails.area }} Sq.Ft</h6>
                </div>
              </div>
              }
            </div>
            <div class="pricing">
              <h4>
                <strong>{{
                  propertyDetails?.price||0 | currency : "USD"
                  }}</strong>
              </h4>
            </div>
          </div>
        </div>
        <div class="row mt-5 blue-box">
          <div class="col-lg-12">
            <h6><Strong>Property Information</Strong></h6>
          </div>
          @if(propertyDetails?.propertyType){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Home Type: </label>
              <label>{{
                helper.returnType(propertyDetails?.propertyType)
                }}</label>
            </div>
          </div>
          }
          @if(propertyDetails.noOfBed){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>No. of Bedrooms: </label>
              <label>{{ propertyDetails.noOfBed }}</label>
            </div>
          </div>
          }
          @if(propertyDetails.noOfBath){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>No. of Bathrooms: </label>
              <label>{{ propertyDetails.noOfBath }}</label>
            </div>
          </div>
          }
          @if(propertyDetails.area){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Finished Sq.FT: </label>
              <label>{{ propertyDetails.area }} Sq Ft</label>
            </div>
          </div>
          }
          @if(propertyDetails.area){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Lot Size: </label>
              <label>{{ propertyDetails.area }}</label>
            </div>
          </div>
          }
          @if(propertyDetails.area){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Sq.FT: </label>
              <label>{{ propertyDetails.area }} Sq.Ft</label>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.constructedYear){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Years Constructed: </label>
              <label>{{ propertyDetails?.homeFacts?.[0]?.constructedYear | date : "d MMMM y" }}</label>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.remodelYear){
          <div class="col-lg-6">
            <div class="d-flex justify-content-between labelCheck">
              <label>Structural Remodal Year: </label>
              <label>{{ propertyDetails?.homeFacts?.[0]?.remodelYear | date : "d MMMM y" }}</label>
            </div>
          </div>
          }
          @if(propertyDetails?.description){
          <div class="col-lg-12">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label class="w-auto">Description: </label>
              <label class="w-100">{{ propertyDetails?.description }}</label>
            </div>
          </div>
          }
        </div>
        @if(propertyDetails?.rentSpecials?.length){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Rent Specials</Strong></h6>
          </div>
          @for (item of propertyDetails?.rentSpecials; track $index) {
          @if(item?.title){
          <div class="col-lg-6">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label>Title: </label>
              <label>{{ item?.title }}</label>
            </div>
          </div>
          }
          @if(item?.tag){
          <div class="col-lg-6">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label>Special Offer: </label>
              <label>{{ item?.tag }}</label>
            </div>
          </div>
          }
          @if(item?.startDate){
          <div class="col-lg-6">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label>Start Date: </label>
              <label>{{ item?.startDate | date : "d MMMM y" }}</label>
            </div>
          </div>
          }
          @if(item?.endDate){
          <div class="col-lg-6">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label>End Date: </label>
              <label>{{ item?.endDate | date : "d MMMM y" }}</label>
            </div>
          </div>
          }
          @if(item?.description){
          <div class="col-lg-12">
            <div class="d-flex justify-content-start gap-1 labelCheck">
              <label class="w-auto">Description: </label>
              <label class="w-100">{{ item?.description }}</label>
            </div>
          </div>
          }
          }
        </div>
        }
        @if(propertyDetails?.propertyAmenities?.length){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Ameneties</Strong></h6>
          </div>
          <div class="col-lg-12">
            <div class="inner-home-list">
              <ul class="d-flex flex-wrap ps-3">
                @for (group of propertyDetails?.propertyAmenities; let i = $index; track group) {
                <li><span></span> {{group?.amenity?.amenityName }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.propertyUtilities?.length){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Utilities</Strong></h6>
          </div>
          <div class="col-lg-12">
            <div class="inner-home-list">
              <ul class="d-flex flex-wrap ps-3">
                @for (group of propertyDetails?.propertyUtilities; let i = $index; track group) {
                <li><span></span> {{group?.utility?.utilityName }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.price){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Set your Price</Strong></h6>
          </div>
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Price</div>
              <div class="white-box-text">
                {{ propertyDetails?.price | currency : "USD" || "N/A" }}
              </div>
            </div>
          </div>
        </div>
        }
        @if(propertyDetails.videoUrl){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Virtual Tour Url</Strong></h6>
          </div>
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between labelCheck yellow-label">
              <div class="white-box-text text-info">Url</div>
              <div class="white-box-text">
                {{ propertyDetails.videoUrl }}
              </div>
            </div>
          </div>
        </div>
        }
        @if(propertyDetails.petPolicy){
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Policy</Strong></h6>
          </div>
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between labelCheck yellow-label">
              <div class="white-box-text text-info">Pet Policy</div>
              <div class="white-box-text">
                {{ propertyDetails.petPolicy }}
              </div>
            </div>
          </div>
        </div>
        }
        <div class="row mt-5 blue-box">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Home Facts</Strong></h6>
          </div>
          @if(propertyDetails?.propertyType){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Home Type</div>
              <div class="white-box-text">
                {{ helper.returnType(propertyDetails?.propertyType) }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.noOfBeds){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">No. of Bedrooms</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.noOfBeds }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.noOfBaths){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">No. of Bathrooms</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.noOfBaths }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.deposit){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Deposit</div>
              <div class="white-box-text">
                {{ propertyDetails?.deposit }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.leaseMonth){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Lease Months</div>
              <div class="white-box-text">
                {{ propertyDetails?.leaseMonth }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.parking){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Parking</div>
              <div class="white-box-text">
                {{ propertyDetails?.parking }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.isFurnished){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Furnished</div>
              <div class="white-box-text">
                {{ propertyDetails?.isFurnished ? 'Yes' : 'No' }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.basementSqrFt){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Basement Sq.Ft</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.basementSqrFt }} Sq.Ft
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.finishedSqrFt){
            <div class="col-lg-6">
              <div class="white-box dCenter justify-content-between labelCheck">
                <div class="white-box-text text-info">Finished Sq.FT</div>
                <div class="white-box-text">
                  {{ propertyDetails?.homeFacts?.[0]?.finishedSqrFt }} Sq.Ft
                </div>
              </div>
            </div>
            }
          @if(propertyDetails?.homeFacts?.[0]?.garageSqrFt){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Garage Sq.Ft</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.garageSqrFt }} Sq.Ft
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.sqrFt){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Sq.FT</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.sqrFt }} Sq.Ft
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.area){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Lot Size</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.area }} Sq.Ft
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.constructedYear){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Years Constructed</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.constructedYear | date : "d MMMM y" }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.remodelYear){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Structural Remodal Year</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.remodelYear | date : "d MMMM y" }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails?.homeFacts?.[0]?.haoDues){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">HAO Dues</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.haoDues | date : "d MMMM y" }}
              </div>
            </div>
          </div>
          }
          @if(propertyDetails.description){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-between labelCheck">
              <div class="white-box-text text-info">Description</div>
              <div class="white-box-text">
                {{ propertyDetails.description }}
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      @if(propertyDetails?.openHouses?.length){
      <div class="row mt-5 blue-box">
        <div class="col-lg-12 mb-3">
          <h6><Strong>Open House Tour</Strong></h6>
        </div>
        @for (info of propertyDetails?.openHouses; let i = $index; track info) {
        <div class="col-lg-4">
          <div class="white-box dCenter justify-content-start gap-3"
            [ngClass]="{'white-label': i % 2 === 0, 'yellow-label': i % 2 !== 0}">
            <div class="white-box-text text-info">Date</div>
            <div class="white-box-text">
              {{ info?.startDateTime | date : "d MMMM y" }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="white-box dCenter justify-content-start gap-3"
            [ngClass]="{'white-label': i % 2 === 0, 'yellow-label': i % 2 !== 0}">
            <div class="white-box-text text-info">Start Time</div>
            <div class="white-box-text">
              {{ info?.startDateTime | date : "d MMMM y" }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="white-box dCenter justify-content-start gap-3"
            [ngClass]="{'white-label': i % 2 === 0, 'yellow-label': i % 2 !== 0}">
            <div class="white-box-text text-info">End Time</div>
            <div class="white-box-text">
              {{ info?.endDateTime | date : "d MMMM y" }}
            </div>
          </div>
        </div>
        }
      </div>
      }
      @if(propertyDetails?.floorPlans?.length){
      <div class="yellow-label mt-3">
        <div class="row">
          <div class="col-lg-12 mb-3">
            <h6><Strong>Floor Plans</Strong></h6>
          </div>
          <div class="col-3">
            <h6 class="mb-0">Units</h6>
          </div>
          <div class="col-3">
            <h6 class="mb-0">Start Price</h6>
          </div>
          <div class="col-3">
            <h6 class="mb-0">End Price</h6>
          </div>
          <div class="col-3">
            <h6 class="mb-0">Sq Ft</h6>
          </div>
        </div>
        <div ngbAccordion class="mt-3" [closeOthers]="true" [destroyOnHide]="true" [animation]="true">
          @for (item of propertyDetails?.floorPlans; track $index) {
          <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="row">
                  <div class="col-3">
                    <h6 class="mb-0">{{item?.floorPlanUnits?.length}}</h6>
                  </div>
                  <div class="col-3">
                    <h6 class="mb-0">{{item?.startPrice | currency:'USD'}}</h6>
                  </div>
                  <div class="col-3">
                    <h6 class="mb-0">{{item?.endPrice | currency:'USD'}}</h6>
                  </div>
                  <div class="col-3">
                    <h6 class="mb-0">{{item?.area}}Sq Ft</h6>
                  </div>
                </div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <img [ngClass]="{'NoImageFound' : !item?.planImage}"
                    [src]="item?.planImage ? src + item?.planImage : 'https://homes.madeeasy.app/img/no-propertyfound.png'"
                    width="100%" height="200px" alt="image" />
                  <h5 class="mt-3">{{item?.planName}}</h5>
                  <p>{{item?.description}}</p>
                  <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <div class="prop-details display content-between">
                      @if(item.noOfBed){
                      <div class="dCenter bath-box right-border-gray">
                        <div class="bath-img">
                          <img src="../../assets/img/bed.webp" alt="bed" />
                        </div>
                        <div class="bath-text">
                          <h6>{{ item.noOfBed }}</h6>
                        </div>
                      </div>
                      } @if(item.noOfBath){
                      <div class="dCenter bath-box right-border-gray">
                        <div class="bath-img">
                          <img src="../../assets/img/bed.webp" alt="bed" />
                        </div>
                        <div class="bath-text">
                          <h6>{{ item.noOfBath }}</h6>
                        </div>
                      </div>
                      } @if(item.area){
                      <div class="dCenter bath-box right-border-gray">
                        <div class="bath-img">
                          <img src="../../assets/img/bed.webp" alt="bed" />
                        </div>
                        <div class="bath-text">
                          <h6>{{ item.area }} Sq.Ft</h6>
                        </div>
                      </div>
                      }
                    </div>
                    <div class="pricing">
                      <h6>Start Price:
                        <strong class="ms-2">{{
                          item?.startPrice||0 | currency : "USD"
                          }}</strong>
                      </h6>
                      <h6>End Price:
                        <strong class="ms-2">{{
                          item?.endPrice||0 | currency : "USD"
                          }}</strong>
                      </h6>
                    </div>
                  </div>
                  @if(item?.floorPlanUnits?.length){
                  <div class="row">
                    <div class="col-lg-12 mt-3">
                      <h5><Strong>Floor Plans Unit</Strong></h5>
                    </div>
                  </div>
                  <div class="row shadow-lg py-3 rounded-2">
                    <div class="col-6 my-3">
                      <h6 class="bold">
                        Price
                      </h6>
                    </div>
                    <div class="col-6 my-3">
                      <h6 class="bold">
                        Availability
                      </h6>
                    </div>
                    @for (unit of item?.floorPlanUnits; let i =$index; track unit) {
                    <div class="col-lg-12">
                      <hr class="m-0">
                    </div>
                    <div class="col-6 my-3">
                      <p class="mb-0">{{unit?.price | currency : 'USD'}}</p>
                    </div>
                    <div class="col-6 my-3">
                      <p class="mb-0">{{unit?.availabilityDate | date : "d MMMM y"}}</p>
                    </div>
                    @if(i == item?.floorPlanUnits?.length -1){
                    <div class="col-lg-12">
                      <hr class="m-0">
                    </div>
                    }
                    }
                  </div>
                  }
                </ng-template>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      }
      <div class="row mt-5 blue-box">
        <div class="col-lg-12 mb-3">
          <h6><Strong>Contact Information</Strong></h6>
        </div>
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Full Name</div>
            <div class="white-box-text">
              {{ propertyDetails?.propertyContacts[0]?.fullName }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Phone</div>
            <div class="white-box-text">
              {{ propertyDetails?.propertyContacts[0]?.contact }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Email</div>
            <div class="white-box-text">
              {{ propertyDetails?.propertyContacts[0]?.email }}
            </div>
          </div>
        </div>
        @if(propertyDetails?.country){
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Country/State</div>
            <div class="white-box-text">
              {{ propertyDetails?.country }}
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.city){
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">City</div>
            <div class="white-box-text">
              {{ propertyDetails?.city }}
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.landmark){
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Landmark</div>
            <div class="white-box-text">
              {{ propertyDetails?.landmark }}
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.plot){
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Plot</div>
            <div class="white-box-text">
              {{ propertyDetails?.plot }}
            </div>
          </div>
        </div>
        }
        @if(propertyDetails.building){
        <div class="col-lg-6">
          <div class="d-flex justify-content-between labelCheck">
            <label>Building: </label>
            <label>{{ propertyDetails.building }}</label>
          </div>
        </div>
        }
        @if(propertyDetails?.zipcode){
        <div class="col-lg-6">
          <div class="white-box dCenter justify-content-between labelCheck">
            <div class="white-box-text text-info">Zip Code</div>
            <div class="white-box-text">
              {{ propertyDetails?.zipcode }}
            </div>
          </div>
        </div>
        }
        @if(propertyDetails?.location){
        <div class="col-lg-12">
          <div class="white-box d-flex align-items-start gap-3 justify-content-start labelCheck">
            <div class="white-box-text text-info">Address</div>
            <div class="white-box-text">
              {{ propertyDetails?.location }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <div class="right-site text-center">
        <div class="row">
          <div class="col-lg-12 mb-3">
            <h2><strong>Contact Property</strong></h2>
            <p>{{ info?.description }}</p>
          </div>
          <div class="dCenter flex-wrap">
            <a class="btnPrimary cstm-width-full" [href]="'tel:' + propertyDetails?.propertyContacts?.[0]?.contact">
              <fa-icon [icon]="faPhoneAlt"></fa-icon>
              {{propertyDetails?.propertyContacts?.[0]?.contact}}
            </a>
            <a class="btnPrimary cstm-width-full mt-3"
              [href]="'mailto:' + propertyDetails?.propertyContacts?.[0]?.email">
              @if(propertyDetails?.propertyContacts?.[0]?.isEmailPrefered){
              <fa-icon [icon]="faCheck" class="me-3"></fa-icon>
              }
              <fa-icon [icon]="faEnvelope"></fa-icon>
              Send an email
            </a>
          </div>
          <p class="text-center mb-0">Preferred @if(propertyDetails?.propertyContacts?.[0]?.isEmailPrefered){
            Email}@else{
            Phone
            } </p>
          <div class="or-line dCenter mt-4">
            <hr />
            <p class="mb-0">or</p>
            <hr />
          </div>
          <div class="dCenter">
            <button class="btnPrimary cstm-width-full mt-3">
              Request a tour
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- map div -->
    <div class="col-lg-12 my-3">
      <app-map [center]="{lat:propertyDetails?.latitude,lng:propertyDetails?.longitude}"
        [markerPositions]="[{lat:propertyDetails?.latitude,lng:propertyDetails?.longitude}]"></app-map>
    </div>
    }
  </div>
</div>
@if(!loader){
<div class="nearby-rentals p-3">
  <div class="cstmContainer">
    <div class="row">
      <div class="col-lg-12 position-relative">
        <app-rental-carousel heading="Nearby apartments for rent" background="#e6f2ff"></app-rental-carousel>
      </div>
    </div>
  </div>
</div>
}