<div class="cstmContainer">
  <div class="row">
    @if(loader){
    <div class="dCenter py-5">
      <app-mini-loading></app-mini-loading>
    </div>
    } @else {
    <div class="col-lg-12">
      <div class="pages-links display">
        <a routerLink="/">Home</a>
        <div class="slash">/</div>
        @if(propertyDetails?.propertyType == 1){
        <a routerLink="/buy">Buy</a>
        } @else{
        <a routerLink="/rent">Rent</a>
        }
        <div class="slash">/</div>
        <a>{{ propertyDetails?.title }}</a>
      </div>
      @if(propertyDetails?.propertyImages?.length){
      <owl-carousel-o [options]="customOptions" #owlCar>
        @for (card of propertyDetails?.propertyImages; track card) {
        <ng-container>
          <ng-template carouselSlide>
            <img [src]="card?.imageUrl" alt="noimage found" />
          </ng-template>
        </ng-container>
        }
      </owl-carousel-o>
      } @else {
      <div class="dCenter">
        <div class="banner-review-img">
          <img src="https://homes.madeeasy.app/img/no-propertyfound.png" alt="noimage found" />
        </div>
      </div>
      }
    </div>
    <div class="col-lg-8 mt-4">
      <div class="first-box">
        <div class="dCenter justify-content-between">
          <div class="head">{{ propertyDetails?.title || "N/A" }}</div>
          <div class="prop-detail-icon dCenter justify-content-between">
            <button class="dCenter optionBtn me-2">
              <fa-icon class="dCenter" [icon]="faHeart"></fa-icon>
            </button>
            <button class="dCenter optionBtn me-2">
              <fa-icon class="dCenter" [icon]="faShare"></fa-icon>
            </button>
            <button class="dCenter optionBtn">
              <fa-icon class="dCenter" [icon]="faEllipsisVertical"></fa-icon>
            </button>
          </div>
        </div>
        @if(propertyDetails?.location){
        <div class="address">{{ propertyDetails?.location }}</div>
        }
        <div class="prop-details-div display content-between">
          <div class="prop-details display content-between">
            @if(propertyDetails.noOfBed){
            <div class="prop-detail-img display">
              <div class="display content-between">
                <img src="../../assets/img/bed.webp" alt="bed" />
                <div class="prop-detail-text">
                  {{ propertyDetails.noOfBed }}
                </div>
              </div>
              <hr />
            </div>
            } @if(propertyDetails.noOfBath){
            <div class="prop-detail-img display">
              <div class="display content-between">
                <img src="../../assets/img/bath.webp" alt="bath" />
                <div class="prop-detail-text">
                  {{ propertyDetails.noOfBath }}
                </div>
              </div>
              <hr />
            </div>
            } @if(propertyDetails.area){
            <div class="prop-detail-img display">
              <div class="display content-between">
                <img src="../../assets/img/sq.ft.webp" alt="area" />
                <div class="prop-detail-text">
                  {{ propertyDetails.area }}Sq.Ft
                </div>
              </div>
            </div>
            }
          </div>
          <div class="pricing">
            {{ propertyDetails?.price | currency : "USD" || "N/A" }}
          </div>
        </div>
      </div>
      <div class="Prop-info p-2 my-3">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="small-head prop-info-padding">Set your Price</h3>
          </div>
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between">
              <div class="white-box-text text-info">Price</div>
              <div class="white-box-text">
                {{ propertyDetails?.price | currency : "USD" || "N/A" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      @if(propertyDetails.videoUrl){
      <div class="Prop-info p-2 my-3">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="small-head prop-info-padding">Virtual Tour Url</h3>
          </div>
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between">
              <div class="white-box-text text-info">Url</div>
              <div class="white-box-text">
                {{ propertyDetails.videoUrl }}
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="Prop-info">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="small-head prop-info-padding">Home Facts</h3>
          </div>
          @if(propertyDetails?.propertyType){
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between">
              <div class="white-box-text text-info">Home Type</div>
              <div class="white-box-text">
                {{ helper.returnType(propertyDetails?.propertyType) }}
              </div>
            </div>
          </div>
          } @if(propertyDetails.noOfBed){
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between">
              <div class="white-box-text text-info">No. of Bedrooms</div>
              <div class="white-box-text">{{ propertyDetails.noOfBed }}</div>
            </div>
          </div>
          }
          <div class="col-lg-12">
            @if(propertyDetails.noOfBath){
            <div class="transparent-box dCenter justify-content-between">
              <div class="white-box-text text-info">No. of Bathrooms</div>
              <div class="white-box-text">{{ propertyDetails.noOfBath }}</div>
            </div>
            }
          </div>
          @if(propertyDetails.area){
          <div class="col-lg-12">
            <div class="white-box dCenter justify-content-between">
              <div class="white-box-text text-info">Finished Sq.FT</div>
              <div class="white-box-text">{{ propertyDetails.area }}Sq Ft</div>
            </div>
          </div>
          } @if(propertyDetails.area){
          <div class="col-lg-12">
            <div class="transparent-box dCenter justify-content-between">
              <div class="white-box-text text-info">Lot Size</div>
              <div class="white-box-text">{{ propertyDetails.area }}</div>
            </div>
          </div>
          } @if(propertyDetails.area){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">Sq.FT</div>
              <div class="white-box-text">{{ propertyDetails.area }} Sq.Ft</div>
            </div>
          </div>
          } @if(propertyDetails?.homeFacts?.[0]?.constructedYear){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">Years Constructed</div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.constructedYear | date : "d MMMM y" }}
              </div>
            </div>
          </div>
          } @if(propertyDetails?.homeFacts?.[0]?.remodelYear){
          <div class="col-lg-6">
            <div class="transparent-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">
                Structural Remodal Year
              </div>
              <div class="white-box-text">
                {{ propertyDetails?.homeFacts?.[0]?.remodelYear | date : "d MMMM y" }}
              </div>
            </div>
          </div>
          } @if(propertyDetails?.homeFacts?.[0]?.haoDues){
          <div class="col-lg-6">
            <div class="transparent-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">HAO Dues</div>
              <div class="white-box-text">{{ propertyDetails?.homeFacts?.[0]?.haoDues | date : "d MMMM y" }}</div>
            </div>
          </div>
          } @if(propertyDetails?.homeFacts?.[0]?.basementSqrFt){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">Basement Sq.Ft</div>
              <div class="white-box-text">{{ propertyDetails?.homeFacts?.[0]?.basementSqrFt }} Sq.Ft</div>
            </div>
          </div>
          } @if(propertyDetails?.homeFacts?.[0]?.garageSqrFt){
          <div class="col-lg-6">
            <div class="white-box dCenter justify-content-start gap-3">
              <div class="white-box-text text-info">Garage Sq.Ft</div>
              <div class="white-box-text">{{ propertyDetails?.homeFacts?.[0]?.garageSqrFt }} Sq.Ft</div>
            </div>
          </div>
          } @if(propertyDetails.description){
          <div class="col-lg-12">
            <div class="transparent-box">
              <div class="text-info-property">Description:</div>
              <div class="white-box-para">
                {{ propertyDetails.description }}
              </div>
            </div>
          </div>
          }
        </div>
        <div class="Prop-info p-2 my-3">
          <div class="row">
            <h3 class="small-head prop-info-padding">Virtual Tour Url</h3>
            @for (info of propertyDetails?.openHouses; track info) {
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Date</div>
                <div class="white-box-text">{{ info?.startDateTime | date : "d MMMM y" }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Start Time</div>
                <div class="white-box-text">{{ info?.endDateTime | date : 'shortTime' }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="transparent-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">End Time</div>
                <div class="white-box-text">{{ info?.startDateTime | date : 'shortTime' }}</div>
              </div>
            </div>

            }
            <!-- @for (info of addInfo; track info) {

            <h3 class="small-head prop-info-padding">Additional Information</h3>
            <div class="col-lg-6">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Related Website</div>
                <div class="white-box-text">{{ info?.realtedSite }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">
                  what I love about This Home
                </div>
                <div class="white-box-text">{{ info?.feedback }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="transparent-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Room Details</div>
                <div class="white-box-text">{{ info?.roomDetails }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="transparent-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Utility Bills</div>
                <div class="white-box-text">{{ info?.utilityBills }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Building Details</div>
                <div class="white-box-text">{{ info?.buildDetails }}</div>
              </div>
            </div>
            } -->
            @for (info of propertyDetails?.propertyContacts; track info) {
            <h3 class="small-head prop-info-padding">Contact Information</h3>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3 white-box-price">
                <div class="white-box-text text-info">Full Name</div>
                <div class="white-box-text">{{ info?.fullName }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3 white-box-price">
                <div class="white-box-text text-info">Phone</div>
                <div class="white-box-text">{{ info?.contact }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3 white-box-price">
                <div class="white-box-text text-info">Email</div>
                <div class="white-box-text">{{ info?.email }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Address</div>
                <div class="white-box-text">{{ propertyDetails?.location }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="transparent-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Country/State</div>
                <div class="white-box-text">{{ info?.country }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="transparent-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">City</div>
                <div class="white-box-text">{{ info?.city }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Landmark</div>
                <div class="white-box-text">{{ info?.landmark }}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="white-box dCenter justify-content-start gap-3">
                <div class="white-box-text text-info">Zip Code</div>
                <div class="white-box-text">{{ info?.zipcode }}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-4">
      @for (info of contact; track info) {
      <div class="right-site text-center">
        <h2>Contact Property</h2>
        <p class="w-75 mx-auto">{{ info?.description }}</p>
        <div class="dCenter flex-wrap gap-1">
          <a class="btnPrimary rounded-3 py-2" [href]="'tel:' + propertyDetails?.propertyContacts?.[0]?.contact">
            @if(!propertyDetails?.propertyContacts?.[0]?.isEmailPrefered){
            <fa-icon [icon]="faCheck" class="me-3"></fa-icon>
            }
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
            {{propertyDetails?.propertyContacts?.[0]?.contact}}
          </a>
          <a class="btnPrimary rounded-3 py-2" [href]="'mailto:' + propertyDetails?.propertyContacts?.[0]?.email">
            @if(propertyDetails?.propertyContacts?.[0]?.isEmailPrefered){
            <fa-icon [icon]="faCheck" class="me-3"></fa-icon>
            }
            <fa-icon [icon]="faEnvelope"></fa-icon>
            Send an email
          </a>
        </div>
        <p class="text-center mb-0">Preferred @if(propertyDetails?.propertyContacts?.[0]?.isEmailPrefered){
          Email}@else{
          Phone
          } </p>
        <p class="my-2">Or</p>
        <div class="dCenter">
          <button class="btnPrimary rounded-3 py-2">
            Request a tour
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
@if(!loader){
<div class="nearby-rentals p-3">
  <div class="cstmContainer">
    <div class="row">
      <div class="col-lg-12 position-relative">
        <app-rental-carousel heading="Nearby apartments for rent" background="white"></app-rental-carousel>
      </div>
    </div>
  </div>
</div>
}