.imgBox {
    width: 50px;
    height: 50px;
    border-radius: 100px;

    img {
        object-fit: contain;
    }
}

.reg {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 90%;
}

.msgRow {
    width: 95%;
    margin: auto;
}

.content {
    width: 60%;
}


@media only screen and (max-width:400px) {
    .content {
        width: 50%;
    }
}

@media only screen and (max-width:600px) {
    .btn-padding{
        padding: 2vw 1.5vw !important;
    }

    .btn-padding .icon-remove{
        display: none;
    }
    
}