<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <section class="msger overflow-hidden">
                <header class="msger-header dCenter gap-3">
                    <fa-icon [icon]="faArrowLeft" (click)="routeBack()" class="cursor"></fa-icon>
                    <div class="dCenter justify-content-start gap-2 w-100 cursor" routerLink="chat/1">
                        <div class="imgBox">
                            <img src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user profile"
                                width="100%" height="100%">
                        </div>
                        <div class="content">
                            <h6 class="bold mb-0">User name</h6>
                        </div>
                    </div>
                </header>
                <main class="msger-chat">
                        @for (message of messages; track $index) {
                        <div [ngClass]="[message.sender === 'BOT' ? 'left-msg' : 'right-msg']" class="msg">
                            <div class="msg-img"
                                [style.backgroundImage]="message.sender === 'BOT' ? 'url(https://image.flaticon.com/icons/svg/327/327779.svg)' : 'url(https://image.flaticon.com/icons/svg/145/145867.svg)'">
                            </div>
                            <div class="msg-bubble">
                                <div class="msg-info">
                                    <div class="msg-info-name">{{message.sender}}</div>
                                    <div class="msg-info-time">{{message.time}}</div>
                                </div>
                                <div class="msg-text">{{message.text}}</div>
                            </div>
                        </div>
                        }
                </main>

                <form class="msger-inputarea">
                    <input type="text" class="msger-input" placeholder="Enter your message...">
                    <button type="submit" class="msger-send-btn">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>
                </form>
            </section>
        </div>
    </div>
</div>