h1 {
    font-size: 2.8vw;
    color: var(--black);
    font-family: "med";
    align-content: center;
    margin-left: 1.1vw;
    letter-spacing: 0.1vw;
}

h2 {
    font-size: 1.18vw;
    color: var(--black);
    font-family: "med";
    letter-spacing: 0.01vw;
}

.left {
    width: 80.2%;
}

.right {
    width: 18.1%;
}

.bottom-margin {
    margin-bottom: 1.3vw;
}

.properties,
.sale,
.rent {
    width: 31.5%;
    border: 0.2vw solid rgba(230, 242, 255, 1);
    border-radius: 0.5vw;
    padding: 1.2vw 1.5vw 1.2vw 1.7vw;
}

.tab button {
    background-color: transparent;
    box-shadow: none;
    height: 1vw;
    width: 2vw;
}

.tab button .mat-icon {
    color: var(--royal-blue);
    font-size: 1.5vw;
    align-content: center;
}

.icon-value {
    margin-top: 1vw;
}

.value-icon .btn .mat-icon {
    background-color: var(--sec-light);
    color: var(--royal-blue);
    align-content: center;
    text-align: center;
    font-size: 2.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.chart {
    width: 65.7%;
    border: 0.2vw solid rgba(230, 242, 255, 1);
    padding: 0.8vw 2.5vw 0.7vw 1.4vw;
    border-radius: 0.5vw;
    height: 12.5vw;
}

.map {
    width: 31.5%;
    height: 12.5vw;
    border: 0.2vw solid rgba(230, 242, 255, 1);
    border-radius: 0.5vw;
}

.map .google-map {
    width: 100%;
    height: 14.2vw;
    border-radius: 0.5vw;
}

.listing-page a {
    font-size: 1vw;
    font-family: 'med';
    text-decoration: underline;
    color: var(--royal-blue);
    cursor: pointer;
}

.listing-card {
    width: 32.5%;
    margin-top: 0.9vw;
    padding-bottom: 0.5vw;
    border-radius: 1vw;
    background-color: var(--sec-light);
}

.listing-card img {
    width: 100%;
    height: 8vw;
    border-radius: 1vw;
}

.listing-content {
    padding: 0.5vw 1.5vw;
}

.list-title {
    font-size: 0.77vw;
    font-family: 'bold';
    color: var(--black);
    letter-spacing: -0.015vw;
    margin-bottom: 0.4vw;
}

.list-add {
    font-size: 0.74vw;
    font-family: 'reg';
    color: var(--carousel-add);
    margin-bottom: 0.5vw;
}

.listing-icon {
    margin-bottom: 0.5vw;
}

.icon-bg {
    align-items: center;
    width: 3.1vw;
}

.icon-bg-foot {
    align-items: center;
    width: 4.5vw;
}

.icon-bg .mat-icon,
.icon-bg-foot .mat-icon {
    background-color: var(--white);
    border-radius: 50%;
    font-size: 1.5vw;
    color: rgba(112, 112, 112, 1);
    width: 2vw;
    height: 2vw;
    align-content: center;
    text-align: center;
}

.icon-text {
    font-size: 0.65vw;
    font-family: 'reg';
    color: var(--black);
    margin-left: 0.3vw;
}

.listing-icon hr {
    height: 1.5vw;
    align-self: center;
    color: var(--checkbox);
    margin: 0vw 0.9vw;
}

.price-btn {
    align-items: center;
}

.listing-price {
    font-size: 1.1vw;
    font-family: 'bold';
    color: var(--royal-blue);
}

.price-btn button {
    background-color: var(--royal-blue);
    font-size: 0.6vw;
    font-family: "reg";
    color: var(--white);
    border-radius: 3vw;
    padding: 0vw 1.5vw;
    height: 2.1vw;
}

.analaytics-box {
    width: 100%;
    border: 1px solid rgba(230, 242, 255, 1);
    padding: 0.8vw 1.5vw 0.8vw 1vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.analytics-head {
    margin-bottom: 0.5vw;
}

.icon-analaytics-text {
    align-items: center;
}

.analytics-link,
.analytics-link-last {
    align-items: center;
    padding: 0.7vw 0vw;
    border-bottom: 0.1vw solid var(--sec-light);
}

.analytics-link-last {
    border-bottom: 0;
}

.icon-analaytics-text .mat-icon {
    width: 1.8vw;
    height: 1.8vw;
    font-size: 1vw;
    color: var(--royal-blue);
    background-color: var(--sec-light);
    border-radius: 50%;
    align-content: center;
    padding-left: 0.4vw;
}

.analaytic-icon-name {
    font-size: 0.8vw;
    font-family: "reg";
    color: var(--black);
    margin-left: 0.4vw;
}

.analaytic-icon-value {
    font-size: 0.8vw;
    font-family: 'reg';
    color: var(--black);
}

.extra-small-text {
    font-size: 0.5vw;
    font-family: 'reg';
    color: var(--black);
}

.redirect-box button {
    background-color: var(--royal-blue);
    width: 100%;
    border-radius: 1vw;
    color: var(--white);
    height: 7.5vw;
    font-size: 1vw;
    font-family: 'reg';
}

.redirect-box button .mat-icon{
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
}