#map_canvas,
.mapLoader {
  width: 100%;
  position: relative;
}
.drawButton {
  position: absolute;
  right: 2%;
  top: 1.7%;
  z-index: 1000;
  background: none;
  border: none;
}
.customBtn {
  background: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash {
  right: 2%;
  display: none;
}
.hidden {
  display: none;
}
:host ::ng-deep {
  .gm-style-iw-ch {
    display: none;
  }
  .gm-style-iw.gm-style-iw-c{
    padding-top: 12px !important;
  }
  .gm-ui-hover-effect {
    position: absolute !important;
    top: 0;
    right: 0;
    outline: none;
    background: #ff3932 !important;
    z-index: 12 !important;
  }
}
