.logo {
    width: 70%;
    height: 40px;

    img {
        object-fit: contain;
    }
}

.toggler {
    background: #ff4081;
    border: none;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 70px;

    img {
        object-fit: contain;
    }
}

.btnWhiteNBlueOutline {
    color: #fff;
    max-width: fit-content;
    margin-right: auto;
    min-width: 100%;
    padding: 1vw 0vw 1vw 1vw;
    font-size: 12px;
    &.active {
        background: white;
        color: #000f28;
    }

    &.isSidebarCollapsed {
        min-width: fit-content;
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}