<div class="sidebar">
    <div class="dCenter my-3 justify-content-between position-relative">
        @if(!isSidebarCollapsed){
        <div class="logo">
            <a routerLink="/">
                <img src="../../assets/img/nav-logo.webp" alt="logo" width="100%" height="100%">
            </a>
        </div>
        }
        <button class="toggler" (click)="toggleSidebar()">
            <img src="../../assets/img/side-bar.webp" alt="toggler" width="100%" height="100%">
        </button>
    </div>
    <div class="dCenter flex-column">
        @for (item of routes; track $index) {
        <button class="btnWhiteNBlueOutline my-2 dCenter justify-content-start gap-2"
            [class.isSidebarCollapsed]="isSidebarCollapsed" [routerLink]="item?.route" routerLinkActive="active">
            <fa-icon [icon]="item?.icon"></fa-icon>
            @if(!isSidebarCollapsed){
            {{item?.name}}
            }
        </button>
        }
    </div>
</div>