.btnWhiteNBlueOutline {
  box-shadow: none;

  &.active {
    background-color: #0160c9;
    color: #fff;
  }
}

:host ::ng-deep {
  .ng-select .ng-select-container {
    color: rgba(0, 0, 0, 0.87);
    align-items: baseline;
    min-height: auto;
  }

  ng-select {
    padding: 0;
    margin: 10px 0;
    padding: 0.8vw;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 0.15vw solid var(--royal-blue);
  }

  .ng-select .ng-select-container .ng-value-container {
    align-items: stretch;
    padding: 0;
    border-top: 0;
  }
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="datetime-local"],
input[type="date"],
textarea {
  border: none;
  border-bottom: 0.15vw solid var(--royal-blue);
  outline: none;
  width: 100%;
  background: var(--white);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  padding: 0.8vw;
}

textarea {
  border: 0.14vw solid var(--royal-blue);
  resize: none;
  padding: 1rem;
}

input,
textarea {
  margin: 10px 0 1rem 0;
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder,
input[type="datetime-local"]::placeholder,
textarea::placeholder {
  font-size: 10px;
}

h1 {
  font-family: "bold";
  color: var(--black);
  text-align: center;
}

.min75 {
  min-height: 50vh;
}

h2 {
  font-family: "bold";
  font-size: 24px;
  color: var(--black);
}

h3 {
  font-family: "med";
  font-size: 20px;
  color: var(--black);
  letter-spacing: 0.03vw;
  margin-bottom: 1.6vw;
  cursor: pointer;
  transition: color 0.3 ease;
}

h3:hover {
  color: var(--royal-blue);
}

p {
  font-family: "reg";
  font-size: 16px;
  color: var(--head-black);
  text-align: center;
}

.content {
  padding-top: 8.25vw;
}

a {
  font-family: "reg";
}

.slash {
  padding: 0vw 0.25vw;
  align-content: center;
}

.lower-portion {
  margin-top: 3.1vw;
}

.left-portion {
  border-radius: 14px;
  background-color: var(--sec-light);
  padding: 1.2vw 1.3vw 0vw 1.5vw;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  height: fit-content;
  transition: top 0.3s;
}

.pro-details button {
  font-family: "med";
  font-size: 16px;
  color: var(--black);
  letter-spacing: 0.03vw;
  margin-bottom: 1.3vw;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease,
    padding 0.3s ease, border-radius 0.3s ease, letter-spacing 0.3s ease,
    text-align 0.3s ease;
  background-color: transparent;
}

.pro-details button:hover {
  width: 100%;
  font-family: "med";
  color: var(--white);
  background-color: var(--royal-blue);
  padding: 2.3vw 0vw;
  border-radius: 3vw;
  letter-spacing: 0.07vw;
  text-align: start;
}

.right-portion {
  width: 100%;
}

.prop {
  background-color: var(--add-prop-bg);
  padding: 1.9vw 2.2vw 1.3vw;
  border-radius: 1vw;
}

.right-portion-para {
  font-family: "reg";
  font-size: 16px;
  color: var(--carousel-add);
  text-align: start;
  width: 100%;
  margin-top: 1.4vw;
}

.ameneties-portion-para {
  font-family: "reg";
  font-size: 1.1vw;
  color: var(--carousel-add);
  text-align: start;
  width: 58%;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

:host ::ng-deep .mdc-line-ripple {
  display: none;
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  font-size: 15px;
  font-family: "reg";
  letter-spacing: -0.01vw;
  padding-left: 0.2vw;
  color: var(--property-text);
}

:host ::ng-deep .mat-options .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--sec-light);
  border-radius: 0.3vw;
  margin-bottom: 1.04vw;
}

:host ::ng-deep .mat-options-3 .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--sec-light);
  border-radius: 0.3vw;
  margin-bottom: 1.04vw;
}

.checkbox-portion {
  margin-top: 0.5vw;
}

:host ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])~.mdc-checkbox__background {
  background-color: var(--sec-light) !important;
  border: 0 !important;
  padding: 0;
  width: 1.5vw;
  height: 1.5vw;
}

.check-box label {
  cursor: pointer;
  font-size: 15px;
  font-family: "reg";
  color: var(--black);
  font-weight: 600;
}

.check-box input {
  width: 20px;
  height: 20px;
  border: none;
}

.checkbox-width .example-margin {
  --mdc-circular-progress-active-indicator-color: #ff4081;
  width: 23.8vw !important;
  margin-bottom: 0.35vw;
}

.checkbox-width .last-margin {
  --mdc-circular-progress-active-indicator-color: #ff4081;
  width: 16vw !important;
}

.upload-container {
  margin-top: 1vw;
  margin-bottom: 1.3vw;
}

.image-preview {
  width: 6.8vw;
  margin-right: 0.5vw;
  box-shadow: 0 0 10px 0 #7c7c7c;
  border-radius: 0.5vw;
  overflow: hidden;
}

.image-preview img {
  border-radius: 0.5vw;
  width: 100%;
  height: 6.5vw;
  object-fit: cover;
}

:host ::ng-deep .mat-mdc-fab .mat-icon,
.mat-mdc-fab .material-icons,
.mat-mdc-mini-fab .mat-icon,
.mat-mdc-mini-fab .material-icons {
  font-size: 15px;
  margin-top: 0.75vw;
}

:host ::ng-deep .mat-mdc-fab.mat-warn {
  margin-top: 0.3vw;
  margin-left: -1.5vw;
  height: 1.2vw;
  width: 1.2vw !important;
}

.upload-imgs {
  background-color: var(--sec-light);
  padding: 1.25vw;
  width: 100%;
  border-radius: 0.3vw;
  border: none;
  cursor: pointer;
  display: block;
}

.upload-imgs span {
  font-size: 15px;
  font-family: "reg";
  color: rgba(113, 113, 113, 1);
}

.upload-btn {
  margin-left: 1vw;
  align-content: center;
}

:host ::ng-deep .mat-mdc-raised-button:not(:disabled) {
  padding: 1.8vw 2.3vw;
  border-radius: 3vw;
  font-size: 17px;
  font-family: "reg";
  color: var(--white);
  background-color: var(--royal-blue);
}

:host ::ng-deep .mat-mdc-button>.mat-icon,
.mat-mdc-unelevated-button>.mat-icon,
.mat-mdc-raised-button>.mat-icon,
.mat-mdc-outlined-button>.mat-icon {
  font-size: 22px;
  height: 24px;
  width: 24px;
  align-content: center;
}

.upload-mess {
  margin-left: 2.2vw;
}

.bullets {
  list-style-type: disc;
}

.bullets li {
  font-size: 18px;
  font-family: "reg";
  color: rgba(112, 112, 112, 1);
}

.bullets li::marker {
  color: var(--royal-blue);
  font-size: 28px;
}

:host ::ng-deep .mat-options-social .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--sec-light);
  border-radius: 0.3vw;
  margin-bottom: 1.04vw;
}

:host ::ng-deep .mat-options-link .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--sec-light);
  border-radius: 0.3vw;
  margin-bottom: 1.04vw;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--sec-light);
  margin-bottom: 0.85vw;
}

.upload-2 {
  width: 100%;
  margin-bottom: 1.5vw;
}

.upload-2-container {
  margin-top: -1vw;
  margin-bottom: 1vw;
}

:host ::ng-deep .add-more-btn .mdc-button__label,
:host ::ng-deep .add-more-btn .mat-icon {
  color: var(--royal-blue);
}

.add-more-btn {
  align-content: center;
  border: 0;
  font-size: 17px;
  font-family: "bold";
  letter-spacing: -0.01vw;
}

.map-img {
  width: 64vw;
  margin-bottom: 1.5vw;
}

.map-img img {
  width: 100%;
  object-fit: cover;
}

.submit-btns {
  float: right;
  margin-top: 0.5vw;
}

.reset button,
.add button {
  font-size: 16px;
  font-family: "reg";
  color: var(--white);
  background-color: var(--red);
  border-radius: 3vw;
  padding: 1.8vw 3.5vw;
  margin-right: 1vw;
}

.add button {
  background-color: var(--royal-blue);
  margin-right: 0;
}

.footer {
  margin-top: 6vw;
}

.add-section {
  width: 100%;
  display: block;
}

:host ::ng-deep .category-select .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  margin-top: 0.5vw;
  background-color: transparent;
}

:host ::ng-deep .category-head {
  font-size: 18px !important;
  font-family: "med";
  color: var(--black);
}

.amenities-portion-para,
.utilities-portion-para,
.rent-special-para {
  font-family: "reg";
  font-size: 16px;
  color: var(--carousel-add);
  text-align: start;
  width: 58%;
}

.amenities-column {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  /* Adjust margin as needed for spacing between columns */
}

.checkbox-container {
  flex-wrap: wrap;
}

.checkbox-wrapper {
  width: calc(100% / 3);
  /* Each checkbox takes one third of the container */
}

.pets-column,
.laundry-column {
  margin-top: 1vw;
}

.pets-column-width,
.laundry-column-width,
.rent-special,
.contact-role-check {
  width: 33.3%;
}

.rent-special-form {
  margin-top: 1vw;
}

.special-tags,
.contact-role {
  font-size: 16px;
  font-family: "bold";
  color: var(--black);
  margin-top: 0.5vw;
}

.special-offers-check {
  margin-top: 1vw;
}

.contact-info-form {
  margin-top: 1.5vw;
}

.contact-role-por {
  padding-bottom: 1.5vw;
}

.terms-condition {
  width: 90%;
}

.terms-text {
  font-size: 18px;
  font-family: "reg";
  color: var(--black);
  padding-top: 0.5vw;
}

.terms-text a {
  font-family: "med";
  color: var(--royal-blue);
}

.floor-img {
  width: 100%;
  margin-top: 1vw;
}

.floor-img img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius: 1vw;
}

.delete-btn {
  margin-left: -3.2vw;
  margin-top: 0.5vw;
  background-color: var(--red);
  width: 2.5vw;
  height: 2.5vw;
}

@media only screen and (max-width: 821px) {
  .left-portion {
    width: 60%;
    margin: 1rem auto;
  }

  .right-portion-para {
    width: 100%;
  }

  .left-portion {
    width: 80%;
  }

  h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 540px) {
  .check-box label {
    font-size: 14px;
    font-weight: 500;
  }

  .check-box input {
    width: 16px;
    height: 16px;
  }

  .terms-text {
    font-size: 12px;
  }
}