@if(search){
<div class="cstmsContainer mb-3">
    <div class="cstmInputBox">
        <label [class.focused]="isFocused">Address</label>
        <input #autocompleteInput type="text" [value]="value" (input)="
                  write($event);
                " placeholder="Enter Your Address" [class.show-placeholder]="isFocused"
            (focus)="togglePlaceholder(true)" (blur)="togglePlaceholder(false)" />
    </div>
</div>
}
@if(mapScriptLoad){
<google-map [height]="height  || '200px'" width="100%" [center]="center" [zoom]="zoom"
    (mapClick)="addMarker && addMarkerPoint($event);moveMap($event)" (mapMousemove)="move($event)">
    @for (position of markerPositions; let i = $index; track position) {
    <map-marker [position]="position" [options]="markerOptions" (mapDragend)="onMarkerDragEnd($event)"
        #marker="mapMarker" (mapClick)="infoContents?.length && openInfoWindow(marker, i);moveMap($event)" />
    }
    <map-info-window>
        @if(index){
            @if(infoContents?.[index]?.propertyImages?.[0]){
            <img [src]="infoContents[index].propertyImages?.[0]" alt="images">
            }
            <h5 class="bold">Title: {{infoContents?.[index]?.title}}</h5>
            <h6 class="description bold">Description: {{infoContents?.[index]?.description
                }}</h6>
            <h6 class="bold">Price: {{infoContents?.[index]?.price | currency:'USD'}}</h6>
        }
    </map-info-window>
</google-map>
}