@import url('../../../assets/scss/input.scss');

.description {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep {
  .gm-style-iw-ch {
    display: none;
  }

  .gm-ui-hover-effect {
    position: absolute !important;
    right: 0;
    outline: none;
    background: #ff3932 !important;
  }
}

:host ::ng-deep {
  .gmnoprint.gm-style-mtc-bbw,
  .gm-control-active.gm-fullscreen-control,
  .gm-svpc,
  .gm-style-moc {
    display: none;
  }
}