<div class="container p-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="logo">
        <img src="../../assets/img/nav-logo.webp" alt="logo" />
      </div>
      <h4 class="text-center my-3">Login</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
        sit amet luctus venenatis,
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input type="email" [form]="loginForm" control="email" label="Email address"
          placeholder="Enter your email address*"></app-input>
        <app-input type="password" [form]="loginForm" control="password" label="Password"
          placeholder="Enter your password*"></app-input>
  
        <div class="dCeneter justify-content-between check-pass">
          <div class="checkbox">
            <mat-checkbox>Remember me</mat-checkbox>
          </div>
          <a class="smallFont">Forget Password?</a>
        </div>
        <div class="dCenter">
          <button class="btnPrimary rounded-2 py-2 px-3 w-50 mt-3">
            Login
          </button>
        </div>
        <div class="register-link smallFont my-3">
          Not registered? <a (click)="openRegisterPopup()">Create an Account</a>
        </div>
      </form>
    </div>
  </div>
</div>