.logo {
    width: 150px;
    margin: auto;
}

.logo img {
    object-fit: contain;
}

:host ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    width: 1vw;
    height: 1vw;
    background-color: var(--checkbox);
    border: 0;
}

.check-pass a {
    font-family: 'reg';
    color: var(--black);
}

.register-link a {
    color: var(--royal-blue);
}

// form{
//     margin-top: 2vw;
// }

.main {
    height: 98%;
    align-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
}

.head-1 {
    font-size: 2.5vw;
}

.para-1 {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 0;
}

.container {
    background-color: var(--sec-blue);
}

.close-popup {
    padding: 7px 7px 0 0;
    float: right;
}

.close-popup button {
    background-color: transparent;
    border: 0;
}

.close-popup button .mat-icon {
    font-size: 23px;
    font-weight: 700;
    color: black;
}

@media only screen and (max-width: 600px) {

    .main {
        padding-top: 35px;
    }

    .close-popup {
        margin-left: -8vw;
    }

    .para-1 {
        font-size: 14px;
    }

    .head-1 {
        font-size: 9.5vw;
    }
}