<section>
  <div class="lg-12 popup">
    <div class="logo">
      <img src="../../assets/img/nav-logo.png" alt="" />
    </div>
    <h1>Login</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis,
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input
        type="email"
        [form]="loginForm"
        control="email"
        label="Email address"
        placeholder="Enter your email address*"
      ></app-input>
      <app-input
        type="password"
        [form]="loginForm"
        control="password"
        label="Password"
        placeholder="Enter your password*"
      ></app-input>

      <div class="display content-between check-pass">
        <div class="checkbox">
          <mat-checkbox>Remember me</mat-checkbox>
        </div>
        <a>Forget Password?</a>
      </div>

      <div class="login-popup-btn">
        <button mat-flat-button>Login</button>
      </div>

      <div class="register-link">
        Not registered? <a (click)="openRegisterPopup()">Create an Account</a>
      </div>
    </form>
  </div>
</section>
