<mat-dialog-content>
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="bold text-dark mb-0">Feature your property</h4>
        <h6 class="medium text-dark mb-3">
          Reach More Buyers and Sell Faster and Upgrade your Property to a top
          position
        </h6>
        <img
          src="assets/images/featured.png"
          alt="featured"
          width="100%"
          height="200"
          style="object-fit: contain"
        />
        <p class="smallFont mb-0">
          <fa-icon [icon]="faCheck" class="me-1 text-success"></fa-icon> Get
          noticed with “FEATURED” tag in a top position.
        </p>
        <p class="smallFont mb-0">
          <fa-icon [icon]="faCheck" class="me-1 text-success"></fa-icon> Your
          property will be highlighted to top position.
        </p>
        <p class="smallFont">
          <fa-icon [icon]="faCheck" class="me-1 text-success"></fa-icon> Promote
          your property on the right behind me social platform and get a reel.
        </p>
      </div>
      <div class="col-lg-12 mt-3">
        @for (item of packages; let i = $index; track item) {
        <div class="cstmCheck w-100 d-flex justify-content-between" [ngClass]="{'skeleton' : !item?.name}">
          @if(item?.name){
            <label [for]="i" class="w-75">
              <div class="d-flex w-100 justify-content-between">
                <div class="firstCol">
                  <p class="text-dark mb-0 bold">{{ item?.name }}</p>
                  <p class="text-dark smallFont mb-0">{{ item?.description }}</p>
                </div>
                <div class="price d-flex align-items-center">
                  <p class="mb-0 text-dark bold">
                    {{ item?.amount | currency : "USD" }}
                  </p>
                </div>
              </div>
            </label>
            <input type="checkbox" class="ms-auto" [id]="i" />
          }
        </div>
        }
      </div>
      <div
        class="col-lg-12 d-flex align-items-center gap-3 justify-content-end"
      >
        <button class="btnDanger rounded-3 py-1" (click)="navigateAndClose()">Cancel</button>
        <button class="btnDark rounded-3 py-1" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
