<div class="bar-width">
  <mat-form-field class="search-bar">
    <input
      matInput
      [readOnly]="searching"
      onkeydown="return /[a-zA-Z\s\b\n]/.test(event.key) || /^\d$/.test(event.key)"
      [(ngModel)]="search"
      (ngModelChange)="this.mentorSearchQueryUpdate.next($event)"
      class="input-text"
      placeholder="Enter an address, neighborhood, city, or ZIP code"
    />
    <button class="btnPrimary login-btn dCenter" (click)="submit()">
      <fa-icon [icon]="faSearch" size="2x" class="me-2"></fa-icon>
      Search
    </button>
  </mat-form-field>
</div>
