<div class="m-auto">
  <div class="searchBar dCenter">
    <input
      [readOnly]="searching"
      onkeydown="return /[a-zA-Z\s\b\n]/.test(event.key) || /^\d$/.test(event.key)"
      [(ngModel)]="search"
      (ngModelChange)="this.mentorSearchQueryUpdate.next($event)"
      class="input-text"
      placeholder="Enter an address, neighborhood, city, or ZIP code"
    />
    @if(filter){
    <button class="btnPrimary login-btn dCenter" (click)="showFilt()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    }
  </div>
</div>
