<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h6 class="bold mb-3">My Listing</h6>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-6">
            <mat-form-field class="listing-id w-100">
                <mat-label>Enter Listing ID</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <mat-form-field class="listing-id w-100">
                <mat-label>Enter Listing ID</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <mat-form-field class="listing-id w-100">
                <mat-label>Enter Listing ID</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <mat-form-field class="listing-id w-100">
                <mat-label>Enter Listing ID</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Active</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Pending</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Rejected</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <button ngbNavLink>Expired</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="5">
            <button ngbNavLink>Deleted</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="6">
            <button ngbNavLink>Downgraded</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="7">
            <button ngbNavLink>Inactive</button>
            <ng-template ngbNavContent>
                <div class="row">
                    @for (item of properties; track $index) {
                    <div class="col-lg-4 col-md-6 my-3">
                        <app-property-card [animation]="false" background="#e6f2ff" [card]="item" [loader]="false"
                            type="component" page="mylisting"></app-property-card>
                    </div>
                    }
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>